<?php include 'inc/header.html' ?>

<div id="ms-title">
  <!-- 메인이미지 시작 { -->
  <div id="sbn_idx" class="swipe slider">
    <div id="sbn_idx_slide" class="swipe-wrap">
      <div class="slide_img" style="background-image:url('http://kimjinwuk.com/_shop/assets/img/temp_slide_02.jpg');" onclick="location.href='#'">
        <div class="contents_wrap clearfix">
          <span class="sbn_text_main sbn_ani"><img src="assets/img/temp_slide_01_text.png"></span>
        </div>
      </div>
      <div class="slide_img" style="background-image:url('http://image.29cm.co.kr/contents/site/201504/20150408104503.jpg');" onclick="location.href='#'">
        <div class="contents_wrap clearfix">
          <span class="sbn_text_sub sbn_ani"><img src="assets/img/temp_slide_01_text.png"></span>
        </div>
      </div>
      <div class="slide_img" style="background-image:url('http://kimjinwuk.com/_shop/assets/img/temp_slide_01.jpg');" onclick="location.href='#'">
        <div class="contents_wrap clearfix">
          <span class="sbn_buy sbn_ani"><img src="assets/img/temp_slide_01_text.png"></span>
        </div>
      </div>
    </div>
    <span id="slide-bullet">
      <div>
        <button type="button" class="slide-bullet"><span class="sound_only">0</span></button>
        <button type="button" class="slide-bullet"><span class="sound_only">1</span></button>
        <button type="button" class="slide-bullet"><span class="sound_only">2</span></button>
      </div>
    </span>
    <div id="sbn_idx_prev" class="sbn_idx_btn">
      <button type="button" id="slide-btn-prev"></button>
    </div>
    <div id="sbn_idx_next" class="sbn_idx_btn">
      <button type="button" id="slide-btn-next"></button>
    </div>
  </div>

  <script src="http://store.fx.unionpool.com/js/swipe.js"></script>
  <script>
  $(function(){
    window.mySwipe = Swipe(document.getElementById('sbn_idx'), {
      callback: function(index, elem) {
        index++;
        animateTitles();
        $(".slide-bullet").removeClass("slide-bullet-on");
        $(".slide-bullet:nth-child("+index+")").addClass("slide-bullet-on");
      },
      auto: 4000,
    });
    function animateTitles(){
      $(".sbn_text_main")
      .stop(true, true)
      .delay(500)
      .css({opacity: 0, bottom: "110px"})
      .animate({opacity: 1, bottom: "120px"}, 300);
      $(".sbn_text_sub")
      .stop(true, true)
      .delay(500)
      .css({opacity: 0, bottom: "110px"})
      .animate({opacity: 1, bottom: "120px"}, 300);
      $(".sbn_buy")
      .stop(true, true)
      .delay(500)
      .css({opacity: 0, bottom: "110px"})
      .animate({opacity: 1, bottom: "120px"}, 300);
    }

    $("#slide-btn-prev").on('click', function() {
      mySwipe.prev()
    });
    $("#slide-btn-next").on('click', function() {
      mySwipe.next()
    });

    $(".slide-bullet:nth-child(1)").addClass("slide-bullet-on");
    $('.slide-bullet').on ('click', function () {
      window.mySwipe.slide($(this).index(), 500);
      $(".slide-bullet").removeClass("slide-bullet-on");
      $(this).addClass("slide-bullet-on");
    });
    animateTitles();
  });
</script>    <!-- } 메인이미지 끝 -->
</div>

<div id="wrapper">
  <!-- } 상단 끝 -->
  <!-- 콘텐츠 시작 { -->
  <div id="container">
    <!-- 글자크기 조정 display:none 되어 있음 시작 { -->
    <div id="text_size">
      <button class="no_text_resize" onclick="font_resize('container', 'decrease');">작게</button>
      <button class="no_text_resize" onclick="font_default('container');">기본</button>
      <button class="no_text_resize" onclick="font_resize('container', 'increase');">크게</button>
    </div>
    <!-- } 글자크기 조정 display:none 되어 있음 끝 -->
    <!-- 배너영역 -->
    <div id="ms-idx-bnnr" class="clearfix">
      <h2 class="main_title">Featured</h2>
      <div class="anchor">
        <a href="#" class="prev">prev</a>
        <a href="#" class="next">next</a>
      </div>
      <div class="grid">
        <div class="grid_txt">
          <div class="sct_icon"><span class="sit_icon"><a href="#">#fresh</a></span></div>
          <!-- item -->
          <div class="box current">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">MOSCHINO</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">플레이드 쇼츠</a><a href="#" class="size">FREE</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">60,000won</span><span class="retail">96,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <!-- item -->
          <div class="box">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">MARC BY MARC JACOBS</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">크롭 랩스타일 탑</a><a href="#" class="size">XS</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">34,000won</span><span class="retail">56,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <!-- item -->
          <div class="box">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">BURBERRY PRORSUM</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">슬림 핏 데님 재킷</a><a href="#" class="size">XL</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">158,000won</span><span class="retail">260,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <div class="arr_r"></div>
        </div>
        <div class="grid_img">
          <a class="current" href="#"><div class="img" style="background-image:url('assets/img/temp_banner_01.jpg')"></div></a>
          <a href="#"><div class="img" style="background-image:url('assets/img/temp_banner_02.jpg')"></div></a>
          <a href="#"><div class="img" style="background-image:url('assets/img/temp_banner_03.jpg')"></div></a>
        </div>
      </div>
      <div class="grid">
        <div class="grid_txt">
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span></div>
          <!-- item -->
          <div class="box current">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">ACNE STUDIO</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">바이 비 블러 탑</a><a href="#" class="size">FREE</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">148,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <!-- item -->
          <div class="box">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">MARNI</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">스트라이프 드레스</a><a href="#" class="size">XS</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">180,000won</span><span class="retail">260,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <!-- item -->
          <div class="box">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">VALENTINO GARAVANI</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">컬러 블록 라인 스커트</a><a href="#" class="size">M</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">52,000won</span><span class="retail">121,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <!-- item -->
          <div class="box">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">WANDA NYLON</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">더블 브레스티드 베스트</a><a href="#" class="size">M</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">65,000won</span><span class="retail">96,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <div class="arr_r"></div>
        </div>
        <div class="grid_img">
          <a class="current" href="#"><div class="img" style="background-image:url('assets/img/temp_banner_02.jpg')"></div></a>
          <a href="#"><div class="img" style="background-image:url('assets/img/temp_banner_03.jpg')"></div></a>
          <a href="#"><div class="img" style="background-image:url('assets/img/temp_banner_04.jpg')"></div></a>
        </div>
      </div>
      <div class="grid">
        <div class="grid_img">
          <a class="current" href="#"><div class="img" style="background-image:url('assets/img/temp_banner_03.jpg')"></div></a>
          <a href="#"><div class="img" style="background-image:url('assets/img/temp_banner_04.jpg')"></div></a>
          <a href="#"><div class="img" style="background-image:url('assets/img/temp_banner_05.jpg')"></div></a>
        </div>
        <div class="grid_txt">
          <div class="sct_icon"><span class="sit_icon"><a href="#">#popular</a></span></div>
          <!-- item -->
          <div class="box current">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">ACNE STUDIO</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">바이 비 블러 탑</a><a href="#" class="size">FREE</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">148,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <!-- item -->
          <div class="box">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">MARNI</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">스트라이프 드레스</a><a href="#" class="size">XS</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">180,000won</span><span class="retail">260,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <!-- item -->
          <div class="box">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">VALENTINO GARAVANI</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">컬러 블록 라인 스커트</a><a href="#" class="size">M</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">52,000won</span><span class="retail">121,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <!-- item -->
          <div class="box">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">WANDA NYLON</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">더블 브레스티드 베스트</a><a href="#" class="size">M</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">65,000won</span><span class="retail">96,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <div class="arr_l"></div>
        </div>
      </div>
      <div class="grid">
        <div class="grid_img">
          <a class="current" href="#"><div class="img" style="background-image:url('assets/img/temp_banner_04.jpg')"></div></a>
          <a href="#"><div class="img" style="background-image:url('assets/img/temp_banner_05.jpg')"></div></a>
          <a href="#"><div class="img" style="background-image:url('assets/img/temp_banner_01.jpg')"></div></a>
        </div>
        <div class="grid_txt">
          <div class="sct_icon"><span class="sit_icon"><a href="#">#bestoffer</a></span></div>
          <!-- item -->
          <div class="box current">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">MOSCHINO</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">플레이드 쇼츠</a><a href="#" class="size">FREE</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">60,000won</span><span class="retail">96,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <!-- item -->
          <div class="box">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">MARC BY MARC JACOBS</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">크롭 랩스타일 탑</a><a href="#" class="size">XS</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">34,000won</span><span class="retail">56,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <!-- item -->
          <div class="box">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">BURBERRY PRORSUM</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">슬림 핏 데님 재킷</a><a href="#" class="size">XL</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">158,000won</span><span class="retail">260,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <div class="arr_l"></div>
        </div>
      </div>
      <div class="grid">
        <div class="grid_txt">
          <div class="sct_icon"><span class="sit_icon"><a href="#">#exclusive</a></span></div>
          <!-- item -->
          <div class="box current">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">MOSCHINO</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">플레이드 쇼츠</a><a href="#" class="size">FREE</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">60,000won</span><span class="retail">96,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <!-- item -->
          <div class="box">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">MARC BY MARC JACOBS</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">크롭 랩스타일 탑</a><a href="#" class="size">XS</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">34,000won</span><span class="retail">56,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <!-- item -->
          <div class="box">
            <div class="visible_group">
              <div class="sct_brand"><a href="#">BURBERRY PRORSUM</a></div>
              <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">슬림 핏 데님 재킷</a><a href="#" class="size">XL</a></div>
            </div>
            <div class="hover_group">
              <div class="sct_cost"><span class="cost">158,000won</span><span class="retail">260,000won</span></div>
            </div>
          </div>
          <!-- End of item -->
          <div class="arr_r"></div>
        </div>
        <div class="grid_img">
          <a class="current" href="#"><div class="img" style="background-image:url('assets/img/temp_banner_05.jpg')"></div></a>
          <a href="#"><div class="img" style="background-image:url('assets/img/temp_banner_01.jpg')"></div></a>
          <a href="#"><div class="img" style="background-image:url('assets/img/temp_banner_02.jpg')"></div></a>
        </div>
      </div>
      <div class="grid events" id="events">
        <div class="slide" style="background-image:url('http://cdn-static.farfetch.com/content/images/home_cms/2015_04_08/20150408_02_large-min.jpg')">
          <a href="#"><h2>Sale</h2></a>
          <a href="#"><h3>LIFUL SPECIAL OFFER ~ 60% SALE</h3></a>
          <a href="#"><p>이벤트 보기</p></a>
          <div class="shadow1"></div>
          <div class="shadow2"></div>
        </div>
        <div class="slide" style="background-image:url('http://cdn-static.farfetch.com/content/images/home_cms/2015_04_01/module2_large-r-test-3.jpg')">
          <a href="#"><h2>Special</h2></a>
          <a href="#"><h3>커버낫 15 S/S LOOKBOOK & GIFT EVENT</h3></a>
          <a href="#"><p>이벤트 보기</p></a>
          <div class="shadow1"></div>
          <div class="shadow2"></div>
        </div>
        <div class="slide" style="background-image:url('assets/img/temp_event_01.jpg')">
          <a href="#"><h2>Lookbook</h2></a>
          <a href="#"><h3>KLAIRS '머리에서 발끝까지 Be Clean Soap' 30% SALE</h3></a>
          <a href="#"><p>이벤트 보기</p></a>
          <div class="shadow1"></div>
          <div class="shadow2"></div>
        </div>
      </div>
    </div>
    <!-- // 배너영역 -->
    <!-- 스타일 영역 -->
    <div class="main_style_area mt20 clearfix">
      <h2 class="main_title">trend</h2>
      <a href="#">
        <div class="grid">
          <div class="style_box">
            <div class="overlay"></div>
            <div class="img_wrap"><div class="img" style="background-image:url('http://cdn-static.farfetch.com/content/images/home_cms/stripe_icon.jpg')"></div></div>
            <div class="text_wrap01">
              <span class="title">K-Designer's</span>
            </div>
            <div class="text_wrap02">
              <span class="desc">한국 디자이너 브랜드</span>
            </div>
            <div class="text_wrap03">
              <span class="brand">
                <span>Alexander McQueen / Chloé</span>
                <span>Givenchy / Petralux / Yohanix</span>
              </span>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="grid">
          <div class="style_box">
            <div class="overlay"></div>
            <div class="img_wrap"><div class="img" style="background-image:url('http://cdn-static.farfetch.com/portalcontent/static/images/_article/season_large_ss14.jpg')"></div></div>
            <div class="text_wrap01">
              <span class="title">Neutral Basic</span>
            </div>
            <div class="text_wrap02">
              <span class="desc">단순하고 간결한 패션</span>
            </div>
            <div class="text_wrap03">
              <span class="brand">
                <span>Alexander McQueen / Chloé</span>
                <span>Givenchy / Petralux / Yohanix</span>
              </span>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="grid">
          <div class="style_box">
            <div class="overlay"></div>
            <div class="img_wrap"><div class="img" style="background-image:url('http://cdn-static.farfetch.com/content/images/home_cms/2015_02_11/normal_banner_dancer.jpg')"></div></div>
            <div class="text_wrap01">
              <span class="title">Artistic Unique</span>
            </div>
            <div class="text_wrap02">
              <span class="desc">나를 표현하는 개성</span>
            </div>
            <div class="text_wrap03">
              <span class="brand">
                <span>Alexander McQueen / Chloé</span>
                <span>Givenchy / Petralux / Yohanix</span>
              </span>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="grid">
          <div class="style_box">
            <div class="overlay"></div>
            <div class="img_wrap"><div class="img" style="background-image:url('http://cdn-static.farfetch.com/content/images/home_cms/2015_03_03/editorial/bandwith_thumb.gif')"></div></div>
            <div class="text_wrap01">
              <span class="title">Feminine Touch</span>
            </div>
            <div class="text_wrap02">
              <span class="desc">여성적인 아름다움</span>
            </div>
            <div class="text_wrap03">
              <span class="brand">
                <span>Alexander McQueen / Chloé</span>
                <span>Givenchy / Petralux / Yohanix</span>
              </span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- //스타일 영역 -->
    <!-- 최신상품 영역 -->
    <div class="main_product">
      <h2 class="main_title products">new products</h2>
      <ul class="sct sct-ms sct_10">
        <li class="sct_li  sct_clear">
          <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
            <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
            <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
          </a></div>
          <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
          <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
          <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
        </li>
        <li class="sct_li">
          <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
            <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
            <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
          </a></div>
          <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
          <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
          <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
        </li>
        <li class="sct_li">
          <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
            <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
            <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
          </a></div>
          <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
          <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
          <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
        </li>
        <li class="sct_li">
          <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
            <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
            <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
          </a></div>
          <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
          <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
          <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
        </li>
        <li class="sct_li sct_last">
          <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
            <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
            <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
          </a></div>
          <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
          <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
          <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
        </li>

        <li class="sct_li  sct_clear">
          <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
            <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
            <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
          </a></div>
          <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
          <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
          <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
        </li>
        <li class="sct_li">
          <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
            <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
            <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
          </a></div>
          <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
          <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
          <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
        </li>
        <li class="sct_li">
          <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
            <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
            <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
          </a></div>
          <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
          <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
          <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
        </li>
        <li class="sct_li">
          <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
            <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
            <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
          </a></div>
          <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
          <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
          <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
        </li>
        <li class="sct_li sct_last">
          <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
            <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
            <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
          </a></div>
          <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
          <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
          <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
        </li>

        <li class="sct_li  sct_clear">
          <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
            <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
            <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
          </a></div>
          <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
          <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
          <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
        </li>
        <li class="sct_li">
          <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
            <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
            <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
          </a></div>
          <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
          <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
          <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
        </li>
        <li class="sct_li">
          <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
            <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
            <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
          </a></div>
          <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
          <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
          <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
        </li>
        <li class="sct_li">
          <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
            <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
            <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
          </a></div>
          <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
          <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
          <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
        </li>
        <li class="sct_li sct_last">
          <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
            <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
            <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
          </a></div>
          <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
          <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
          <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
          <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
        </li>
      </ul>
      <div class="showmore">
        <div class="more_button">
          <div class="plus">
            <img src="assets/img/ico_plus_color.png">
          </div>
        </div>
        <div class="loader">
          <span class="hidden">
            <svg class="circular">
              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
            </svg>
          </span>
        </div>
      </div>
      <!-- // 최신상품 영역 -->
    </div>
  </div>
  <!-- } 콘텐츠 끝 -->

  <?php include 'inc/footer.html' ?>