<?php include 'inc/header.html' ?>

<div id="ms-title">
  <div id="sct_location">
    <a href="./list.php?ca_id=10" class="sct_bg">women</a>
    <a href="./list.php?ca_id=10" class="sct_bg">outer</a>
    <a href="./list.php?ca_id=10">jacket</a>
  </div>
</div>

<div id="wrapper">
  <!-- } 상단 끝 -->

  <!-- 콘텐츠 시작 { -->
  <div id="container">
    <!-- 글자크기 조정 display:none 되어 있음 시작 { -->
    <div id="text_size">
      <button class="no_text_resize" onclick="font_resize('container', 'decrease');">작게</button>
      <button class="no_text_resize" onclick="font_default('container');">기본</button>
      <button class="no_text_resize" onclick="font_resize('container', 'increase');">크게</button>
    </div>
    <!-- } 글자크기 조정 display:none 되어 있음 끝 -->
    <script>
    var itemlist_ca_id = "10";
    </script>
    <script src="http://test.store.fx.unionpool.com/js/shop.list.js"></script>

    <!-- 상품 상세보기 시작 { -->
    <div id="sit_hhtml"></div>

    <div id="sit_dottegi">
      <form name="fitem" method="post" action="./cartupdate.php" onsubmit="return fitem_submit(this);">
        <input type="hidden" name="it_id[]" value="426">
        <input type="hidden" name="sw_direct">
        <input type="hidden" name="url">

        <div id="sit_ov_wrap">
          <!-- 상품이미지 미리보기 시작 { -->
          <div class="view_left">
            <div class="easyzoom easyzoom--adjacent easyzoom--with-thumbnails">
              <a href="assets/img/temp_product01_large.jpg">
                <img src="assets/img/temp_product01_medium.jpg" alt="">
              </a>
            </div>
            <ul class="thumbnails">
              <li>
                <a href="assets/img/temp_product01_large.jpg" data-standard="assets/img/temp_product01_medium.jpg">
                  <img src="assets/img/temp_product01_small.jpg" alt="" />
                </a>
              </li>
              <li>
                <a href="assets/img/temp_product02_large.jpg" data-standard="assets/img/temp_product02_medium.jpg">
                  <img src="assets/img/temp_product02_small.jpg" alt="" />
                </a>
              </li>
              <li>
                <a href="assets/img/temp_product01_large.jpg" data-standard="assets/img/temp_product01_medium.jpg">
                  <img src="assets/img/temp_product01_small.jpg" alt="" />
                </a>
              </li>
              <li>
                <a href="assets/img/temp_product02_large.jpg" data-standard="assets/img/temp_product02_medium.jpg">
                  <img src="assets/img/temp_product02_small.jpg" alt="" />
                </a>
              </li>
            </ul>
            <script src="assets/js/jquery.zoom.js"></script>
            <script>
            // Instantiate EasyZoom instances
            var $easyzoom = $('.easyzoom').easyZoom();

            // Get an instance API
            var api = $easyzoom.filter('.easyzoom--with-thumbnails').data('easyZoom');

            // Setup thumbnails example
            $(".thumbnails").on("mouseenter", "a", function(e) {
              var $this = $(this);
              e.preventDefault();

              // Use EasyZoom's `swap` method
              api.swap($this.data("standard"), $this.attr("href"));

              $(".thumbnails a").click(function(event){
                event.preventDefault();
              });
            });
            </script>
          </div>
          <!-- } 상품이미지 미리보기 끝 -->
          <div class="view_right">
            <ul class="product_binfo">
              <li class="brand">beanpole</li>
              <li class="name">라이트핑크 코튼 티셔츠<span class="size">XS</span></li>
              <li class="cost">￦128,000</li>
              <li class="retail_cost">리테일가: <span>￦108,000</span> [60% OFF]</li>
            </ul>
            <div id="sit_ov_btn">
              <input type="submit" onclick="document.pressed=this.value;" value="바로구매" id="sit_btn_buy">
              <input type="submit" onclick="document.pressed=this.value;" value="장바구니" id="sit_btn_cart">
            </div>
            <div class="product_dinfo_wrap">
              <div class="product_dinfo">
                <ul>
                  <li><b>상태:</b>착용감 있음, 하자부분 사진 참조</li>
                  <li><b>브랜드:</b>Beanpole</li>
                  <li><b>성별:</b>남성</li>
                  <li><b>색상:</b>Light Pink, 블랙, 화이트</li>
                  <li><b>사이즈:</b>S <a href="#">[실측문의]</a></li>
                </ul>
              </div>
              <div class="product_info_list">
                <script src="assets/js/jquery.accordion.js"></script>
                <script type="text/javascript">
                $(document).ready(function(){
                  $('.accordion').magicAccordion({
                    headingTag  : 'h2',
                    activeClass : 'active',
                    speed     : 300,
                    easing    : 'swing'
                  }).on( 'opened.magic', function(e){
                    console.log(e.head);
                  }).on( 'closed.magic', function(e){
                    console.log(e.body);
                  });

                  var app = $('.accordion').data( 'magic-accordion' );
                });
                </script>
                <div class="accordion">
                  <h2>상세정보</h2>
                  <p>소재 as 세탁방법 품질보증 등</p>
                  <h2>배송정보</h2>
                  <p>
                    - 50,000원 미만 주문시 배송비 2,500원이 발생합니다. (50,000원 이상 구매시 배송이 무료로 제공됩니다.)<br>
                    - 배송은 결제 완료 후 2~3 영업일이 소요됩니다.<br>
                    *택배사 사정으로 인해 배송이 지연될수 있습니다.<br>
                    *도서산간지역의 경우 배송비가 추가될수 있습니다.
                  </p>
                  <h2>반품 및 환불 안내</h2>
                  <p>
                    - 교환 / 반품은 배송 완료 후 7일 이내 신청 가능합니다.<br>
                    - 변심 반품의 경우 왕복 배송비를 차감한 금액이 환불되며, 제품 및 포장 상태가 재판매 가능한 상태여야 합니다.<br>
                    - 출고 이후 반품 요청시 상품 회수 후 처리됩니다.</p>
                  </div>
                </div>
              </div>
            </div>


            <script>
        // 상품보관
        function item_wish(f, it_id)
        {
          f.url.value = "http://store.fx.unionpool.com/shop/wishupdate.php?it_id="+it_id;
          f.action = "http://store.fx.unionpool.com/shop/wishupdate.php";
          f.submit();
        }

        // 추천메일
        function popup_item_recommend(it_id)
        {
          if (!g5_is_member)
          {
            if (confirm("회원만 추천하실 수 있습니다."))
              document.location.href = "http://store.fx.unionpool.com/bbs/login.php?url=http%3A%2F%2Fstore.fx.unionpool.com%2Fshop%2Fitem.php%3Fit_id%3D426";
          }
          else
          {
            url = "./itemrecommend.php?it_id=" + it_id;
            opt = "scrollbars=yes,width=616,height=420,top=10,left=10";
            popup_window(url, "itemrecommend", opt);
          }
        }

        // 재입고SMS 알림
        function popup_stocksms(it_id)
        {
          url = "http://store.fx.unionpool.com/shop/itemstocksms.php?it_id=" + it_id;
          opt = "scrollbars=yes,width=616,height=420,top=10,left=10";
          popup_window(url, "itemstocksms", opt);
        }
        </script>
      </section>
      <!-- } 상품 요약정보 및 구매 끝 -->
    </div>
  </form>


  <script>
// 바로구매, 장바구니 폼 전송
function fitem_submit(f)
{
  if (document.pressed == "장바구니") {
    f.sw_direct.value = 0;
    } else { // 바로구매
      f.sw_direct.value = 1;
    }

    // 판매가격이 0 보다 작다면
    if (document.getElementById("it_price").value < 0) {
      alert("전화로 문의해 주시면 감사하겠습니다.");
      return false;
    }

    if($(".sit_opt_list").size() < 1) {
      alert("상품의 선택옵션을 선택해 주십시오.");
      return false;
    }

    var val, io_type, result = true;
    var sum_qty = 0;
    var min_qty = parseInt(1);
    var max_qty = parseInt(0);
    var $el_type = $("input[name^=io_type]");

    $("input[name^=ct_qty]").each(function(index) {
      val = $(this).val();

      if(val.length < 1) {
        alert("수량을 입력해 주십시오.");
        result = false;
        return false;
      }

      if(val.replace(/[0-9]/g, "").length > 0) {
        alert("수량은 숫자로 입력해 주십시오.");
        result = false;
        return false;
      }

      if(parseInt(val.replace(/[^0-9]/g, "")) < 1) {
        alert("수량은 1이상 입력해 주십시오.");
        result = false;
        return false;
      }

      io_type = $el_type.eq(index).val();
      if(io_type == "0")
        sum_qty += parseInt(val);
    });

    if(!result) {
      return false;
    }

    if(min_qty > 0 && sum_qty < min_qty) {
      alert("선택옵션 개수 총합 "+number_format(String(min_qty))+"개 이상 주문해 주십시오.");
      return false;
    }

    if(max_qty > 0 && sum_qty > max_qty) {
      alert("선택옵션 개수 총합 "+number_format(String(max_qty))+"개 이하로 주문해 주십시오.");
      return false;
    }

    return true;
  }
  </script>
  <div class="rec_product">
    <h2 class="main_title products">추천 상품</h2>
    <ul class="sct sct-ms sct_10">
      <li class="sct_li  sct_clear">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
          <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
          <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
          <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
          <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li sct_last">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
          <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
    </ul>
  </div>
  <div class="related_product">
    <h2 class="main_title products">관련 상품</h2>
    <ul class="sct sct-ms sct_10">
      <li class="sct_li  sct_clear">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
          <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
          <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
          <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
          <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li sct_last">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img class="img01" src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
          <img class="img02" src="assets/img/temp_02.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
    </ul>
  </div>

  <!-- } 콘텐츠 끝 -->

  <?php include 'inc/footer.html' ?>