<?php include 'inc/header.html' ?>

<div id="ms-title">
  <div id="sct_location">
    <a href="./list.php?ca_id=10">주문 / 배송조회</a>
    <div class="btn_area">
      <a href="#" class="facebook">페이스북으로 로그인</a>
  </div>
  </div>
</div>

<div id="wrapper">
  <!-- } 상단 끝 -->

  <!-- 콘텐츠 시작 { -->
  <div id="container">
    <!-- 글자크기 조정 display:none 되어 있음 시작 { -->
    <div id="text_size">
      <button class="no_text_resize" onclick="font_resize('container', 'decrease');">작게</button>
      <button class="no_text_resize" onclick="font_default('container');">기본</button>
      <button class="no_text_resize" onclick="font_resize('container', 'increase');">크게</button>
    </div>
    <!-- } 글자크기 조정 display:none 되어 있음 끝 -->
    <script>
    var itemlist_ca_id = "10";
    </script>
    <div class="login_wrap clearfix">
      <!-- 로그인 시작 { -->
      <div id="mb_login" class="mbskin ms-confirm">
        <div id="mb_login_mb">
          <h2 class="title">로그인</h2>
          <p class="desc">계정이 있으시다면, 이메일 주소를 사용하여 로그인해주세요.</p>
          <form name="flogin" action="https://store.fx.unionpool.com/bbs/login_check.php" onsubmit="return flogin_submit(this);" method="post">
            <input type="hidden" name="url" value='/shop/item.php?it_id=1401763992'>
            <div class="clearfix">
              <div class="ms-box ms-lbl-wrap">
                <label for="login_id" class="ms-box-lbl">이메일 주소<strong class="sound_only"> 필수</strong></label>
                <input type="text" name="mb_id" id="login_id" required class="required ms-box-inp" maxLength="20">
              </div>

              <div class="ms-box ms-lbl-wrap">
                <label for="login_pw" class="ms-box-lbl">비밀번호<strong class="sound_only"> 필수</strong></label>
                <input type="password" name="mb_password" id="login_pw" required class="required ms-box-inp" maxLength="20">
              </div>
            </div>
            <div class="ms-confirm-links">
              <a href="http://store.fx.unionpool.com/bbs/password_lost.php" target="_blank" id="login_password_lost">비밀번호를 잊으셨나요?</a>
            </div>
            <input type="submit" value="로그인" class="ms-confirm-submit">
          </form>
        </div>
      </div>
      <script>
      $(function(){
        $("#login_id").focus();
      });
      function flogin_submit(f)
      {
        return true;
      }
      </script>
      <!-- } 로그인 끝 -->
      <!-- 비회원 주문조회 시작 { -->
      <div id="mb_nomember" class="mbskin ms-confirm">
        <div id="mb_nomember_mb">
          <h2 class="title">비회원 주문조회</h2>
          <p class="desc">주문번호 및 주문 시 입력하신 비밀번호를 정확히 입력해주십시오.</p>
          <form name="fnomember" action="https://store.fx.unionpool.com/bbs/nomember_check.php" onsubmit="return fnomember_submit(this);" method="post">
            <input type="hidden" name="url" value='/shop/item.php?it_id=1401763992'>
            <div class="clearfix">
              <div class="ms-box ms-lbl-wrap clearfix">
                <label for="nomember_id" class="ms-box-lbl">주문서 번호<strong class="sound_only"> 필수</strong></label>
                <input type="text" name="mb_id" id="nomember_id" required class="required ms-box-inp" maxLength="20">
              </div>
              <div class="ms-box-wrap">
                <div class="ms-box ms-lbl-wrap clearfix">
                  <label for="nomember_pw" class="ms-box-lbl">비밀번호<strong class="sound_only"> 필수</strong></label>
                  <input type="password" name="mb_password" id="nomember_pw" required class="required ms-box-inp" maxLength="20">
                </div>
              </div>
            </div>
            <div class="ms-confirm-links">
            <input type="submit" value="확인" class="ms-confirm-submit">
          </form>
        </div>
      </div>
      <!-- } 비회원 주문조회 끝 -->
    </div>

  </div>
  <!-- } 콘텐츠 끝 -->

  <?php include 'inc/footer.html' ?>