<?php include 'inc/header.html' ?>

<div id="ms-title">
  <div id="sct_location">
    <a href="./list.php?ca_id=10">로그인 / 회원가입</a>
    <div class="btn_area">
      <a href="#" class="facebook">페이스북으로 시작하기</a>
  </div>
  </div>
</div>

<div id="wrapper">
  <!-- } 상단 끝 -->

  <!-- 콘텐츠 시작 { -->
  <div id="container">
    <!-- 글자크기 조정 display:none 되어 있음 시작 { -->
    <div id="text_size">
      <button class="no_text_resize" onclick="font_resize('container', 'decrease');">작게</button>
      <button class="no_text_resize" onclick="font_default('container');">기본</button>
      <button class="no_text_resize" onclick="font_resize('container', 'increase');">크게</button>
    </div>
    <!-- } 글자크기 조정 display:none 되어 있음 끝 -->
    <script>
    var itemlist_ca_id = "10";
    </script>
    <div class="login_wrap clearfix">
      <!-- 로그인 시작 { -->
      <div id="mb_login" class="mbskin ms-confirm">
        <div id="mb_login_mb">
          <h2 class="title">로그인</h2>
          <p class="desc">계정이 있으시다면, 이메일 주소를 사용하여 로그인해주세요.</p>
          <form name="flogin" action="https://store.fx.unionpool.com/bbs/login_check.php" onsubmit="return flogin_submit(this);" method="post">
            <input type="hidden" name="url" value='/shop/item.php?it_id=1401763992'>
            <div class="clearfix">
              <div class="ms-box ms-lbl-wrap">
                <label for="login_id" class="ms-box-lbl">이메일 주소<strong class="sound_only"> 필수</strong></label>
                <input type="text" name="mb_id" id="login_id" required class="required ms-box-inp" maxLength="20">
              </div>
              <div class="ms-box ms-lbl-wrap">
                <label for="login_pw" class="ms-box-lbl">비밀번호<strong class="sound_only"> 필수</strong></label>
                <input type="password" name="mb_password" id="login_pw" required class="required ms-box-inp" maxLength="20">
              </div>
            </div>
            <div class="ms-confirm-links">
              <a href="http://store.fx.unionpool.com/bbs/password_lost.php" target="_blank" id="login_password_lost">비밀번호를 잊으셨나요?</a>
            </div>
            <input type="submit" value="로그인" class="ms-confirm-submit">
          </form>
        </div>
      </div>
      <script>
      $(function(){
        $("#login_id").focus();
      });
      function flogin_submit(f)
      {
        return true;
      }
      </script>
      <!-- } 로그인 끝 -->
      <!-- 회원가입 시작 { -->
      <div id="mb_signup" class="mbskin ms-confirm">
        <div id="mb_signup_mb">
          <h2 class="title">회원가입</h2>
          <p class="desc">회원가입시 도떼기마켓의 <a href="#" target="_blank">이용약관</a> 및 <a href="#" target="_blank">개인정보보호정책</a>에 동의하게 됩니다.</p>
          <form name="fsignup" action="https://store.fx.unionpool.com/bbs/signup_check.php" onsubmit="return fsignup_submit(this);" method="post">
            <input type="hidden" name="url" value='/shop/item.php?it_id=1401763992'>
            <div class="ms-box ms-lbl-wrap clearfix">
              <label for="signup_id" class="ms-box-lbl">이메일 주소<strong class="sound_only"> 필수</strong></label>
              <input type="text" name="mb_id" id="signup_id" required class="required ms-box-inp" maxLength="20">
            </div>
            <div class="password_wrap clearfix">
              <div class="ms-box-wrap">
                <div class="ms-box ms-lbl-wrap clearfix">
                  <label for="signup_pw" class="ms-box-lbl">비밀번호<strong class="sound_only"> 필수</strong></label>
                  <input type="password" name="mb_password" id="signup_pw" required class="required ms-box-inp" maxLength="20">
                </div>
              </div>
              <div class="ms-box-wrap">
                <div class="ms-box ms-lbl-wrap clearfix">
                  <label for="signup_pw_confirm" class="ms-box-lbl">비밀번호 확인<strong class="sound_only"> 필수</strong></label>
                  <input type="password" name="mb_password_confirm" id="signup_pw_confirm" required class="required ms-box-inp" maxLength="20">
                </div>
              </div>
            </div>
            <div class="ms-confirm-links">
              <input type="checkbox" id="newsletter"><label for="newsletter">이메일로 도떼기마켓의 뉴스레터와 최신 소식을 구독하고 싶습니다.</label>
            </div>
            <input type="submit" value="남성 회원가입" class="ms-confirm-submit">
            <input type="submit" value="여성 회원가입" class="ms-confirm-submit">
          </form>
        </div>
      </div>
      <!-- } 회원가입 끝 -->
    </div>

  </div>
  <!-- } 콘텐츠 끝 -->

  <?php include 'inc/footer.html' ?>