<?php include 'inc/header.html' ?>

  <div id="ms-title">
    <div id="sct_location">
      <a href="./list.php?ca_id=10" class="sct_bg">Women</a>
      <a href="./list.php?ca_id=10" class="sct_bg">Outer</a>
      <a href="./list.php?ca_id=10">Jacket</a>
    </div>
  </div>

  <div id="wrapper">
    <!-- } 상단 끝 -->

    <!-- 콘텐츠 시작 { -->
    <div id="container">
      <!-- 글자크기 조정 display:none 되어 있음 시작 { -->
      <div id="text_size">
        <button class="no_text_resize" onclick="font_resize('container', 'decrease');">작게</button>
        <button class="no_text_resize" onclick="font_default('container');">기본</button>
        <button class="no_text_resize" onclick="font_resize('container', 'increase');">크게</button>
      </div>
      <!-- } 글자크기 조정 display:none 되어 있음 끝 -->
      <script>
      var itemlist_ca_id = "10";
      </script>
      <script src="http://test.store.fx.unionpool.com/js/shop.list.js"></script>

      <!-- 상품 목록 시작 { -->
      <div id="sct">
          <div id="sct_hhtml"></div>
          <!-- 상품분류 1 시작 { -->
          <aside id="sct_ct_1" class="sct_ct">
            <h2>현재 상품 분류와 관련된 분류</h2>
            <ul>
              <li><a href="./list.php?ca_id=1010">Outer(8)</a></li><li><a href="./list.php?ca_id=1020">Jacket(8)</a></li>    </ul>
            </aside>
            <!-- } 상품분류 1 끝 -->

            <div id="sct_sortlst">
              <!-- 상품 정렬 선택 시작 { -->
              <section id="sct_sort">
                <h2 id="sct_sort_h2">상품 정렬</h2>
      <ul class="sas">
        <li><a href="/shop/list.php?ca_id=10&amp;sort=it_price&amp;sortodr=desc" class="sas_on">높은가격순</a></li>
        <li><a href="/shop/list.php?ca_id=10&amp;sort=it_price&amp;sortodr=asc" class="">낮은가격순</a></li>
        <li><a href="/shop/list.php?ca_id=10&amp;sort=it_use_cnt&amp;sortodr=desc" class="">인기순</a></li>
        <li><a href="/shop/list.php?ca_id=10&amp;sort=it_update_time&amp;sortodr=desc" class="">최근등록순</a></li>
      </ul>
    </section>
    <!-- } 상품 정렬 선택 끝 --></div>
    <!-- 상품진열 10 시작 { -->
    <ul class="sct sct-ms sct_10">

      <li class="sct_li  sct_clear">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li sct_last">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>

      <li class="sct_li  sct_clear">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li sct_last">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>

      <li class="sct_li  sct_clear">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li sct_last">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>

      <li class="sct_li  sct_clear">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li sct_last">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>

      <li class="sct_li  sct_clear">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
      <li class="sct_li sct_last">
        <div class="sct_img"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">
          <img src="assets/img/temp_01.jpg" alt="THE STAMP DRESS SAMPLE">
        </a></div>
        <div class="sct_brand"><a href="#">dolce & gabbana</a></div>
        <div class="sct_txt"><a href="http://test.store.fx.unionpool.com/shop/item.php?it_id=1401763947" class="sct_a">샤넬 코튼 티셔츠</a><a href="#" class="size">XS</a></div>
        <div class="sct_cost"><span class="cost">89,000won</span><span class="retail">128,000won</span></div>
        <div class="sct_icon"><span class="sit_icon"><a href="#">#mint</a></span><span class="sit_icon"><a href="#">#fresh</a></span></div>
      </li>
    </ul>
    <!-- } 상품진열 10 끝 -->

    <nav class="pg_wrap">
      <span class="pg">
        <!-- <a href="/shop/list.php?ca_id=10&amp;sort=&amp;sortodr=&amp;page=2" class="pg_page">&lt;</a> -->
        <strong class="pg_current">1</strong>
        <a href="/shop/list.php?ca_id=10&amp;sort=&amp;sortodr=&amp;page=2" class="pg_page">2</a>
        <a href="/shop/list.php?ca_id=10&amp;sort=&amp;sortodr=&amp;page=2" class="pg_page">3</a>
        <a href="/shop/list.php?ca_id=10&amp;sort=&amp;sortodr=&amp;page=2" class="pg_page">4</a>
        <a href="/shop/list.php?ca_id=10&amp;sort=&amp;sortodr=&amp;page=2" class="pg_page">5</a>
        <a href="/shop/list.php?ca_id=10&amp;sort=&amp;sortodr=&amp;page=2" class="pg_page pg_end">&gt;</a>
      </span></nav>
    <div id="sct_thtml"></div></div>
    <!-- } 상품 목록 끝 -->
  </div>
  <!-- } 콘텐츠 끝 -->

<?php include 'inc/footer.html' ?>