/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
input, select, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {margin:0;padding:0;border:0;line-height:0;vertical-align:baseline;outline:0;word-wrap:break-word;font:inherit;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block}
html,body {width:100%;height:100%;min-height:100%;}
body {font-family:"Apple SD Gothic Neo",'Malgun Gothic', sans-serif;-webkit-font-smoothing:antialiased;font-weight:400;font-style:normal;text-rendering:optimizeLegibility;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;color:#222;overflow-y:scroll;background:#eaeaea;letter-spacing:0.03em;}
a, button {color:inherit;outline:none;text-decoration:none;cursor:pointer;}
blockquote, q {quotes:none}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none}
caption, th {text-align:left}
fieldset, img {border:0}
legend {position:absolute;top:0;left:0;width:0;height:0;display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;}
ol, ul {list-style:none}
sub {vertical-align:text-bottom}
sup {vertical-align:text-top}
table {border-collapse:collapse;border-spacing:0}
textarea {resize:none}
input:disabled {background-color:#f0f0f0;color:#333;}
input[type="password"]:disabled {background-color:#fff;color:#333;}
input[readonly] {background:#f0f0f0;}
b {font-weight:700;}
label {-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

/* clearfix */
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
* html .clearfix {zoom:1}
*:first-child+html .clearfix {zoom:1}

/* ie10 fixed */
a:active {background-color:transparent}

/* selection color */
::-moz-selection {background-color:#ff93a3;}
::selection {background-color:#ff93a3;}
::-o-selection {background-color:#ff93a3;}
::-ms-selection {background-color:#ff93a3;}
::-webkit-selection {background-color:#ff93a3;}

@font-face {
  font-family: 'ProximaNovaCond-Bold';
  src: url('../font/ProximaNovaCond-Bold.eot?') format('eot'),
       url('../font/ProximaNovaCond-Bold.otf')  format('opentype'),
       url('../font/ProximaNovaCond-Bold.woff') format('woff'),
       url('../font/ProximaNovaCond-Bold.ttf')  format('truetype'),
       url('../font/ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold') format('svg');
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../font/ProximaNova-Regular.eot?') format('eot'),
       url('../font/ProximaNova-Regular.otf')  format('opentype'),
       url('../font/ProximaNova-Regular.woff') format('woff'),
       url('../font/ProximaNova-Regular.ttf')  format('truetype'),
       url('../font/ProximaNova-Regular.svg#ProximaNova-Bold') format('svg');
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../font/ProximaNova-Semibold.eot?') format('eot'),
       url('../font/ProximaNova-Semibold.woff') format('woff'),
       url('../font/ProximaNova-Semibold.ttf')  format('truetype'),
       url('../font/ProximaNova-Semibold.svg#ProximaNova-Bold') format('svg');
}