@charset "utf-8";
/* default */
/* 상단 레이아웃 */





/* GNB */

#gnb_1dul {zoom:1}
#gnb_1dul:after {display:block;visibility:hidden;clear:both;content:""}
.gnb_1dli {position:relative;display:inline-block;*display:inline;margin:0 20px 0 0;vertical-align:top;zoom:1}
.gnb_1dli_on {text-decoration:none}
.gnb_1dli .gnb_1da {display:block;padding:0;height:32px;color:#1e1e1e;font-size:1.25em;font-weight:bold;text-decoration:none;line-height:2em}
.gnb_1dli .gnb_1dam {padding:0 10px 0 0;background:url('../shop/img/ui/ms-gnb-bg00.png') center right no-repeat}
.gnb_1dli_on .gnb_1da, .gnb_1dli_on .gnb_1dam {color:#ff2342;text-decoration:none}
.gnb_1dli_on .gnb_1dam {background:url('../shop/img/ui/ms-gnb-bg01.png') center right no-repeat}
.gnb_2dul {display:none;z-index:1000;position:absolute;border:1px solid #c9c9c9;background:#fff}
.gnb_1dli_over .gnb_2dul, .gnb_1dli_over2 .gnb_2dul {display:block;top:31px;left:0;width:130px}
.gnb_2da {display:none}
.gnb_1dli_over .gnb_2da {display:block;padding:10px;border-bottom:1px solid #e9e9e9;color:#656565;text-align:left}
.gnb_2da:focus, .gnb_2da:hover {color:#ff2342;background:#f2f5f9;text-decoration:none}

/* 중간 레이아웃 */
#wrapper {z-index:5;margin:0 auto;}
#wrapper_title {font:bold 1.25em georgia}

#container {position:relative;min-height:500px;height:auto !important;height:500px;zoom:1}
#container:after {display:block;visibility:hidden;clear:both;content:""}

/* 텍스트 크기 조절 */
#text_size {display:none;position:absolute;top:-31px;left:-1px}
#text_size button {padding:0 10px;height:30px;border:1px solid #cfded8;border-bottom:0;background:#000;color:#fff;cursor:pointer}

/* 하단 레이아웃 */
#ft:after {display:block;visibility:hidden;clear:both;content:""}
#ft h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ft_logo {position:relative;margin:0 0 30px;padding:30px 0;border-bottom:1px solid #e9e9e9;background:#fff;text-align:center}
#ft_logo #ms-shadow1 {top:0}
#ft_logo #ms-shadow2 {bottom:0}
#ft_bank {margin:0 0 20px;color:#000}
#ft_cs {position:absolute;top:0;right:0;text-align:right}
#ft_cs a {display:inline-block;margin:0 0 0 6px;font-size:0.95em}
#ft_tel {display:block;margin:10px 0 0;font-size:1.75em;font-weight:bold}
#ft_info {color:#656565}
#ft_info span {display:inline-block;margin:0 10px 0 0;font-size:0.95em;line-height:1.6em}
#ft_info b {display:inline-block;font-weight:normal}
#ft_info .copy {display:block;margin:10px 0 0}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;width:1px;height:1px;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
/* 본문 바로가기 */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/* 이미지 등비율 리사이징 */
.img_fix {width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 */
#captcha {display:inline-block;position:relative}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#captcha #captcha_img {width:100px;height:41px;border:1px solid #b5b5b5}
#captcha #captcha_mp3 {position:absolute;top:0;left:101px;;margin:0;padding:0;width:23px;height:22px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer}
#captcha #captcha_mp3 span {position:absolute;top:0;left:0;width:23px;height:22px;background:url('../plugin/kcaptcha/img/sound.gif')}
#captcha #captcha_reload {position:absolute;top:21px;left:101px;margin:0;padding:0;width:23px;height:22px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer}
#captcha #captcha_reload span {position:absolute;top:0;left:0;width:23px;height:22px;background:url('../plugin/kcaptcha/img/reload.gif')}
#captcha #captcha_key {margin:0 0 0 25px;padding:0 5px;width:70px;height:41px;border:1px solid #b5b5b5;background:#fff;font-size:1.333em;font-weight:bold;text-align:center;line-height:2.8em}
#captcha #captcha_info {display:block;margin:5px 0 0;color:#758d56;font-size:0.95em;letter-spacing:-0.1em}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc{display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc !important;background:#fafafa !important;color:#000 !important;text-decoration:none !important;line-height:1.9em;vertical-align:middle}
.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f2f5f9;text-align:center}
.cke_sc_def dl {margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}

/* Mobile화면으로 */
#mobile_cng {display:block;margin:0.3em;padding:0.5em 0;border:1px solid #eee;border-radius:2em;background:#fff;color:#000;font-size:2em;text-decoration:none;text-align:center}

/* 목록 바로가기 */
.sanchor {margin:0 0 20px;padding:0;height:35px;border-bottom:2px solid #686868}
.sanchor li {position:relative;float:left;list-style:none}
.sanchor a {display:inline-block;border-bottom:2px solid #686868;padding:0 15px;height:35px;color:#959595;text-decoration:none;line-height:3em}
.sanchor a.sanchor_on {border:2px solid #686868;border-bottom:0;background:#f3f3f5;color:#383838 !important;text-decoration:none}
.sanchor a.sanchor_on .sanchor_count {color:#ff4b4b}

/* 콘텐츠별 스타일 */
.cnt_cmt {display:inline-block;margin:0 0 0 3px;color:#ff4b4b}
.ms-show-all {position:absolute;top:-75px;right:0;font-size:0.95em;letter-spacing:-0.1em}
.ms-show-all a {color:#656565}

/* TAB STYLE */
.ms-tab {position:relative}
.ms-tab-tit a {border:1px solid #dce5ef}
.ms-tab-item {display:none;position:absolute;border:1px solid #dce5ef}
.ms-tab-on {display:block;background:#fff}

/* ICO */
.ms-ico-calc {display:inline-block;width:23px;height:23px;background:url('../shop/img/ui/ico-calc.png')}
.ms-ico-calc-p {background-position:0 0}
.ms-ico-calc-m {background-position:-23px 0}
.ms-ico-calc-e {background-position:-46px 0}
.ms-ico-calc-s {background-position:-69px 0}

/* FORM */
#ms-frm-req {position:absolute;top:-75px;right:0;color:#656565;font-size:0.95em;letter-spacing:-0.1em}
#ms-frm-req-ico {margin:0 5px 0 0}
.ms-lbl-req {position:relative}
.ms-lbl-req-ico {position:absolute;top:1px;left:-15px}
#ms-frm-req-ico, .ms-lbl-req-ico {display:inline-block;width:10px;height:12px;background:url('../shop/img/ui/lbl-req.png');vertical-align:middle}

/* 버튼 */
.ms-btn01, .ms-btn02, .ms-btn03 {vertical-align:middle}
button.ms-btn01, button.ms-btn02, button.ms-btn03 {margin:0;padding:0;border:0;background:transparent}
a.ms-btn01, button.ms-btn01 {color:#419bef}
a.ms-btn02, button.ms-btn02 {color:#ff4b4b}
a.ms-btn03, button.ms-btn03 {color:#779c16}
a.ms-btn-s, button.ms-btn-s {font-size:0.95em;text-decoration:underline;letter-spacing:-0.1em}
a.ms-btn-m, button.ms-btn-m {text-decoration:underline}

a.btn01, button.btn01 {display:inline-block;padding:7px;border:1px solid #c0c0c0;background:#d9d9d9;color:#484848;text-decoration:none;vertical-align:middle}
a.btn01:focus, a.btn01:hover {text-decoration:none}
button.btn01 {margin:0}
a.btn02, button.btn02 {display:inline-block;padding:7px;border:1px solid #3f4a57;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn02:focus, .btn02:hover {text-decoration:none}
button.btn02 {margin:0}

.btn_confirm {text-align:center} /* 서식단계 진행 */

.btn_submit {padding:8px;border:0;background:#ff4b4b;color:#fff;letter-spacing:-0.1em;cursor:pointer}

a.btn_cancel {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
button.btn_cancel {padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;vertical-align:middle;text-decoration:none}

.btn_ir {display:inline-block;padding:7px}

/* 게시판용 버튼 */
a.btn_b01 {display:inline-block;padding:7px;border:1px solid #d2d2db;background:#fff;text-decoration:none;vertical-align:middle}
a.btn_b01:focus, .btn_b01:hover {text-decoration:none}
a.btn_b02 {display:inline-block;padding:7px 7px;border:1px solid #67aab8;background:#779c16;color:#fff;text-decoration:none;vertical-align:middle}
a.btn_b02:focus, .btn_b02:hover {text-decoration:none}
a.btn_admin {display:inline-block;padding:7px;border:1px solid #4b545e;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle} /* 관리자 전용 버튼 */
a.btn_admin:focus, a.btn_admin:hover {text-decoration:none}

/* 선택수정 버튼 */
.btn_list {margin:0 auto;width:93%}
.btn_list input, .btn_list button {background: none repeat scroll 0 0 #617d46;border: 0 none;color: #fff;height: 28px;line-height: 2.2em;padding: 0 15px;vertical-align: middle}

/* 기본테이블 */
.tbl_wrap table {clear:both;width:100%;border-collapse:collapse;border-spacing:0}
.tbl_wrap caption {padding:10px 0;font-weight:bold;text-align:left}

.tbl_head01 {margin:0 0 10px}
.tbl_head01 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head01 thead th {padding:7px 0;border-top:1px solid #b9b9b9;border-bottom:1px solid #b9b9b9;background:#dfdfdf;color:#494949;font-weight:normal;text-align:center;letter-spacing:-0.1em}
.tbl_head01 thead a {color:#383838}
.tbl_head01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 tfoot th, .tbl_head01 tfoot td {padding:5px 0;border-top:1px solid #b9b9b9;border-bottom:1px solid #b9b9b9;background:#dfdfdf;color:#494949;font-weight:normal;text-align:center}
.tbl_head01 tbody th {padding:4px 0;border-top:1px solid #d2d2db;border-bottom:1px solid #d2d2db;background:#fff}
.tbl_head01 td {padding:8px 5px;border-top:1px solid #d2d2db;border-bottom:1px solid #d2d2db;background:#fff;line-height:1.5em;word-break:break-all}

.tbl_head02 {margin:0 0 10px}
.tbl_head02 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head02 thead th {padding:4px 0;border-top:1px solid #b9b9b9;border-bottom:1px solid #b9b9b9;background:#dfdfdf;color:#494949;font-weight:normal;text-align:center;letter-spacing:-0.1em}
.tbl_head02 thead a {color:#383838}
.tbl_head02 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 tfoot th, .tbl_head02 tfoot td {padding:4px 0;border-top:1px solid #b9b9b9;border-bottom:1px solid #b9b9b9;background:#dfdfdf;color:#494949;font-weight:normal;text-align:center}
.tbl_head02 tbody th {padding:5px 0;border-top:1px solid #d2d2db;border-bottom:1px solid #d2d2db;background:#fff}
.tbl_head02 td {padding:5px 3px;border-top:1px solid #d2d2db;border-bottom:1px solid #d2d2db;background:#fff;line-height:1.4em;word-break:break-all}

/* 폼 테이블 */
.tbl_frm01 {margin:0 0 10px}
.tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01 caption {border-bottom:1px solid #d9d9d9;color:#ff5e75}
.tbl_frm01 th {width:120px;padding:10px 13px 10px 25px;border-bottom:1px solid #d9d9d9;color:#404040;font-weight:normal;vertical-align:top;text-align:left}
.tbl_frm01 td {padding:10px;border-bottom:1px solid #d9d9d9;vertical-align:top}
.tbl_frm01 .frm_lbl {display:inline-block;margin:0 10px 0 0;color:#404040}
.tbl_frm01 .frm_input {height:22px;line-height:2em}
.tbl_frm01 .frm_txt {width:98%;height:80px;border:1px solid #b5b5b5}
.tbl_frm01 .frm_file {display:block;margin-bottom:5px}
.tbl_frm01 .frm_info {display:block;padding:0 0 5px;color:#758d56;font-size:0.95em;line-height:1.4em}
.tbl_frm01 .frm_info2 {color:#758d56;font-size:0.95em}

/* 입력 */
.frm_input {border:1px solid #b5b5b5}
.required, textarea.required {}
.readonly {border-color:#d5d5d5;background:#f7f7f7;color:#383838}

/* 자료 없는 목록 */
.empty, .empty_list, .empty_table {padding:50px 0 !important;color:#656565;font-size:0.95em;text-align:center;letter-spacing:-0.1em}

/* 테이블 그리드 padding 0 5px 고려한 넓이 */
.grid_1 {width:40px}
.grid_2 {width:90px}
.grid_3 {width:140px}
.grid_4 {width:190px}
.grid_5 {width:240px}
.grid_6 {width:290px}
.grid_7 {width:340px}
.grid_8 {width:390px}
.grid_9 {width:440px}
.grid_10 {width:490px}
.grid_11 {width:540px}
.grid_12 {width:590px}
.grid_13 {width:640px}
.grid_14 {width:690px}
.grid_15 {width:740px}
.grid_16 {width:790px}
.grid_17 {width:840px}
.grid_18 {width:890px}

/* 테이블 항목별 정의 */
.td_board {width:120px;text-align:center}
.td_category {width:120px;color:#969696}
.td_chk {width:30px;text-align:center}
.td_date {width:60px;text-align:center}
.td_datetime {width:110px;text-align:center}
.td_default {width:60px;text-align:center}
.td_dvr {width:30px;text-align:center}
.td_group {width:100px;text-align:center}
.td_imgsmall {width:60px;text-align:center}
.td_num {width:50px;text-align:center}
.td_numbig {width:100px;text-align:center}
.td_nick {width:100px;text-align:center}
.td_name {width:100px;text-align:left}
.td_namesmall {width:50px;text-align:left}
.td_mb_id {width:100px;text-align:center}
.td_mng {width:80px;text-align:center}
.td_mngsmall {width:50px;text-align:center}
.td_statsmall {width:50px;text-align:center}
.td_mng .ms-btn01, .td_mng .ms-btn02, .td_mng .ms-btn03 {vertical-align:baseline}

.txt_active {color:#5d910b}
.txt_done {color:#ff3f56}
.txt_expired {color:#ccc}
.txt_rdy {color:#8abc2a}

/* 새창 기본 스타일 */
.new_win {}
.new_win .tbl_wrap {margin:0 20px}
.new_win #win_title {margin:0 0 20px;padding:20px;border-bottom:1px solid #e21a37;background:#ff4b4b;color:#fff;font-size:1.2em}
.new_win #win_title .sv {font-size:0.75em;line-height:1.2em}
.new_win .win_ul {margin:-20px 0 20px 0;padding:0 20px;background:#242424;list-style:none;zoom:1}
.new_win .win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_ul li {float:left;margin-left:-1px}
.new_win .win_ul a {display:block;padding:10px 10px 8px;border-right:1px solid #333;border-left:1px solid #333;color:#bbb;text-decoration:none}
.new_win .win_desc {margin:0 20px;padding:10px 0}
.new_win #ms-frm-req {top:75px;right:20px}

.new_win .win_btn {clear:both;padding:20px;text-align:center} /* 새창용 */
.new_win .win_btn button {display:inline-block;padding:0 10px;height:30px;border:1px solid #3f4a57;background:#4b545e;color:#fff;line-height:2em;cursor:pointer}
.new_win .win_btn input {padding:0 10px;height:30px;line-height:2em}
.new_win .win_btn a {display:inline-block;padding:7px;border:1px solid #c0c0c0;background:#d9d9d9;color:#484848;text-decoration:none;vertical-align:middle}
.new_win .win_btn a:focus, .new_win .win_btn a:hover {text-decoration:none}

/* 내용관리 */
#ctt {margin:10px 0;padding:10px;border:1px solid #e9e9e9}
.ctt_admin {text-align:right}
#ctt header h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ctt_con {padding:10px 0}
.ctt_img {text-align:center}

/* 자바스크립트 alert 대안 */
#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:20px;font-size:1.3em}
#validation_check p {margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}

/* 사이드뷰 */
.sv_wrap {display:inline-block;position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;border:1px solid #283646;background:#111}
.sv_wrap .sv a {display:inline-block !important;margin:0 !important;padding:3px !important;width:94px;border-bottom:1px solid #283646;color:#fff !important}
.sv_wrap a:focus, .sv_wrap a:hover, .sv_wrap a:active {text-decoration:none !important}
.sv_on {display:block !important;position:absolute;top:10px;left:20px;width:auto;height:auto !important}
.sv_nojs .sv {display:block}




/* 마이페이지 */
#smb_my {}
#smb_my h2 {color:#ff5e75}

#smb_my_ov {margin:0 0 30px}
#smb_my_ov h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#smb_my_act {position:absolute;top:-75px;right:0}
#smb_my_act a {display:inline-block;margin:0 0 0 10px}
#smb_my_point a {display:inline-block;padding-top:20px;padding-bottom:20px;width:466px;text-align:center;text-decoration:none}
#smb_my_point a b {font-weight:normal}
#smb_my_point .ms-box-red {color:#fff}

#smb_my_od {position:relative;margin:0 0 30px}
#smb_my_od h2 {margin:0 0 10px}

#smb_my_wish {position:relative}
#smb_my_wish h2 {margin:0 0 10px}

.smb_my_more {position:absolute;top:0;right:0}

.smb_my_img {width:90px;text-align:center}

/* 장바구니/주문상세/주문서작성 등에 사용 */
#sod_bsk {}
.sod_img {float:left;margin:0 15px 0 0}
.sod_item {float:left}
.sod_item a {font-weight:bold}
.sod_opt {margin:3px 0;color:#779c16;font-size:0.95em}
.sod_opt ul {margin:0;padding:0;list-style:none}
.sod_option_btn div {color:#000}

#sit_opt_added {margin:0;padding:0;border:1px solid #d2d2db;border-bottom:0;background:#fff;list-style:none}
#sit_opt_added li {padding:10px 20px;border-bottom:1px solid #d2d2db}
#sit_opt_added li div {margin:5px 0 0;text-align:right}

#sod_bsk_list {position:relative}
#sod_bsk_list #mod_option_frm {z-index:10000;position:absolute;top:0;left:99px;padding:20px;width:500px;height:auto !important;height:500px;max-height:500px;border:1px solid #606060;background:#f2f5f9;letter-spacing:0;overflow-y:scroll;overflow-x:none}
#sod_bsk_list #mod_option_frm .sit_qty_plus {margin:0 10px 0 0}

#sit_tot_price {text-align:center}

#sod_bsk_tot {margin:0 0 20px;zoom:1}
#sod_bsk_tot:after {display:block;visibility:hidden;clear:both;content:""}
.sod_bsk_tot {float:left;margin:0 10px 10px 0;height:60px;text-align:center;line-height:4.8em}
.sod_bsk_tot1, .sod_bsk_tot_cp {width:166px}
.sod_bsk_tot2, .sod_bsk_tot_nocp {width:215px}
#sod_bsk_tot b {display:inline-block;margin:0 15px 0 0;font-weight:normal;vertical-align:middle;line-height:1.3em;letter-spacing:-0.1em}
#sod_bsk_tot strong {display:inline-block;vertical-align:middle;line-height:1.3em}
#sod_bsk_dvrcp, #sod_bsk_point {margin:0}
#sod_bsk_tot .ms-box-red {color:#fff}
#sod_bsk .sod_bsk_tot {width:298px}

#sod_bsk_tot .ms-ico-calc {position:absolute;top:18px;left:-18px}

#sod_bsk_act {text-align:center}
#sod_bsk_act p {margin:0 0 10px}

/* 위시리스트 */
#sod_ws {}
#sod_ws .sod_item {padding:15px 0 0}

/* 주문서 작성 */
.display_setup_message {margin:0 0 10px;padding:15px;border:1px solid #fccdff;background:#ffeef9}
.display_setup_message strong {display:block;margin:0 0 10px}

#sod_frm {}
#sod_frm section {margin:0 0 30px}
#sod_frm h2 {margin:0 0 10px}

#sod_frm p {margin:0 0 10px}

#sod_frm .frm_info {font-size:1em}
#sod_frm .frm_bank {color:#000;font-weight:bold}

#sod_list {position:relative}
#sod_list #cp_frm {z-index:10000;position:absolute;top:0;left:99px;padding:20px;width:500px;height:auto !important;height:500px;max-height:500px;border:1px solid #000;background:#f2f5f9;overflow-y:scroll;overflow-x:none}

#sod_frm_orderer #od_addr_jibeon, #sod_frm_taker #od_b_addr_jibeon {display:block;margin:5px 0 0}

#sod_frm .win_zip_find {display:inline-block;margin:0 10px 0 0}
#sod_frm .frm_address {margin:3px 0 0}

#sod_frm_addr div {position:relative} /* FF 포지션 */
#sod_frm_addr div div {position:absolute;top:-20px;left:170px}

#sod_frm_same {margin:0 0 10px}

#sod_frm #od_memo {height:50px}

#sod_frm #use_max_point {color:#ff4b4b}

#sod_frm #display_pay_process {text-align:center}
#sod_frm #display_pay_process span {display:block;margin:5px 0 0}

#sod_frm_pay {position:relative}
#sod_frm_pay h2 {margin:0 0 10px}
#sod_frm_pay_info {margin:0 0 10px}

#sod_frm_pay #sc_coupon_frm, #sod_frm_pay #od_coupon_frm {z-index:10000;position:absolute;top:0;left:99px;padding:20px;width:500px;height:auto !important;height:500px;max-height:500px;border:1px solid #000;background:#f2f5f9;overflow-y:scroll}

#settle_bank {margin:10px 0 0}

#sod_frm_escrow {margin:30px 0 0}

#display_pay_process {padding:20px;text-align:center}

/* 배송지 목록 */
#sod_addr .td_mng button {margin:0;padding:0;border:0;background:transparent}

/* 주문내역 */
#sod_v {}
#sod_v .basic_tbl {text-align:center}
#sod_v_info {margin:0 0 10px}

/* 주문상세내역 */
#sod_fin {}
#sod_fin section {margin:0 0 30px}

#sod_fin_no {margin:0 0 20px;color:#565656;text-align:center}
#sod_fin_no strong {color:#ff4b4b;font-size:2em;vertical-align:middle}

#sod_fin #sod_bsk_tot {border-bottom:0 !important}

#request_form {position:relative}
#request_form div {display:none;z-index:10000;position:absolute;top:23px;left:0;padding:20px 0;width:520px;border:1px solid #000;background:#f2f5f9;text-align:center}
#request_form .frm_input {width:300px;background:#fff !important}
#request_form .btn_frmline, #request_form .btn_cancel {vertical-align:middle !important}
#request_form .btn_frmline {padding:0 10px;line-height:1.6em}

#sod_req_btn {margin:0 0 10px}
#sod_req_btn button {background:#626870}

#sod_req_log {margin:0 0 20px}
#sod_req_log ul {margin:0;padding:0;border-top:1px solid #d2d2db;background:#f2f5f9;list-style:none}
#sod_req_log li {padding:10px 10px 20px;border:1px solid #d2d2db;border-top:0}
#sod_req_log h3 {margin:20px 0 10px}
.sod_req_log_view table {margin:0}
.sod_req_log_view caption {padding:10px 0;font-size:1em;font-weight:bold;text-align:left;line-height:1em}
.sod_req_log_view caption span {color:#ff3061}
.sod_req_log_view th {border-top:1px solid #d2d2db;background:#f7f7f7 !important;color:#000 !important;text-align:center}
.sod_req_log_view td {background:#fff;color:#000}
.sod_req_log_view p {padding:10px 15px;border-bottom:1px solid #d2d2db;background:#fff;color:#000}
.sod_req_log_view .sod_req_it {width:270px}
.sod_req_log_view button {margin:0;padding:0;border:0;background:transparent;color:#ff3061;text-decoration:underline;vertical-align:middle;cursor:pointer}

#sod_fin_list h2 {margin:0 0 10px}
#sod_fin_list_wrap {margin:0 0 30px}
.sod_list {padding:10px 0 0;border-bottom:1px dashed #d2d2db;zoom:1}
.sod_list:after {display:block;visibility:hidden;clear:both;content:""}
.sod_list .sod_item {width:915px}
.sod_list .sod_item a {display:inline-block;margin:0 0 5px}
.sod_list td {padding:3px 5px;font-size:0.95em}

#sod_fin_view {}
#sod_fin_view h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sod_fin_view h3 {margin:0 0 10px}
#sod_fin_view .basic_tbl th {padding:0 10px;border-top:1px solid #eee;border-bottom:1px solid #eee;background:#f2f5f9;text-align:left}

#sod_fin_pay {}

#sod_fin_orderer {}

#sod_fin_receiver {}

#sod_fin_dvr {}
#sod_fin_dvr .dvr_link {color:#ff4b4b;text-decoration:underline}

#sod_fin_tot {margin:0 0 30px;padding:10px;border:1px solid #d2d2db;border-top:0;background:#565e60;color:#fff}
#sod_fin_tot h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sod_fin_tot ul {margin:0;padding:0;list-style:none}
#sod_fin_tot li {padding:10px;border-bottom:1px solid #6f7a7d;zoom:1}
#sod_fin_tot li:after {display:block;visibility:hidden;clear:both;content:""}
#sod_fin_tot #alrdy {border-bottom:0 !important}
#sod_fin_tot strong {float:right}

#sod_fin_cancel {text-align:center}
#sod_fin_cancel h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sod_fin_cancelfrm {display:none;margin:10px auto 0;padding-top:3px;padding-bottom:3px;width:340px}
#sod_fin_cancelfrm .ms-box-inp {width:300px;height:30px;line-height:1.8em}
#sod_fin_cancelfrm #btn_submit {margin:0;padding:0;border:0;background:transparent;cursor:pointer}

#sod_fin_test {padding:10px}

/* 주문상세내역 중 현금영수증 발급 */
#scash {}
#scash section {padding:10px 0}
#scash h2 {margin:0 0 10px;text-align:center}
#scash .basic_tbl th {padding:0 10px;border-top:1px solid #eee;border-bottom:1px solid #eee;background:#f2f5f9;text-align:left}
#scash_apply {padding:10px 0 20px;text-align:center}
#scash_apply button {padding:10px;border:0;background:#565e60;color:#fff}
#scash_copy {text-align:center}

/* 공지사항 및 커뮤니티 새글 */
#sidx_lat {padding:15px 0 0;border-top:1px solid #ddd}
#sidx_lat h2 {text-align:center}

/* 배너 인덱스 출력 */
#sbn_idx {}

/* 상품검색 */
#ssch_frm {padding:20px;border:1px solid #e9e9e9;background:#f2f5f9;zoom:1}
#ssch_frm:after {display:block;visibility:hidden;clear:both;content:""}
#ssch_frm div {margin:0 0 5px}
#ssch_frm strong, #ssch_frm .ssch_lbl {display:inline-block;width:100px;font-weight:bold}
#ssch_frm .frm_input {background:#fff}
#ssch_frm .btn_submit {padding:0 8px;height:24px}
#ssch_frm p {padding:10px 0;border-top:1px solid #e9e9e9;line-height:1.5em}
#ssch_frm #ssch_sort {float:left;margin:0;padding:0;list-style:none;zoom:1}
#ssch_frm #ssch_sort:after {display:block;visibility:hidden;clear:both;content:""}
#ssch_frm #ssch_sort li {float:left;margin:0 1px 0 0}
#ssch_frm #ssch_ov {float:right}

#ssch_cate {}
#ssch_cate ul {margin:10px 0;padding:10px 20px 20px;border-bottom:1px solid #e9e9e9;list-style:none;zoom:1}
#ssch_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#ssch_cate li {float:left;margin:0 10px 0 0;padding:0 10px 0 0;border-right:1px solid #e9e9e9}
#ssch_cate a {}
#ssch_cate a span {font-weight:bold}

/* 쇼핑몰 이벤트 */
#sev {}
.sev_admin {margin:0 0 10px;text-align:right}

/* 쿠폰 */
#coupon .td_numbig {width:150px}
#coupon .td_datetime {width:180px}

/* ANCHOR & SORT */



/* shop */

@charset "utf-8";
/* SIR 지운아빠 */

/* aside:gnb */
/*#gnb {text-align:center}*/
/*#gnb h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}*/
/*#gnb a {font-family:georgia}*/
/*#gnb_1dul {zoom:1}*/
/*#gnb_1dul:after {display:block;visibility:hidden;clear:both;content:""}*/
/*.gnb_1dli {position:relative;display:inline-block;*display:inline;margin:0 20px 0 0;vertical-align:top;zoom:1}*/
/*.gnb_1dli_on {text-decoration:none}*/
/*.gnb_1dli .gnb_1da {display:block;padding:0;height:32px;color:#1e1e1e;font-size:1.25em;font-weight:bold;text-decoration:none;line-height:2em}*/
/*.gnb_1dli .gnb_1dam {padding:0 10px 0 0;background:url('img/ms-gnb-bg00.png') center right no-repeat}*/
/*.gnb_1dli_on .gnb_1da, .gnb_1dli_on .gnb_1dam {color:#ff2342;text-decoration:none}*/
/*.gnb_1dli_on .gnb_1dam {background:url('img/ms-gnb-bg01.png') center right no-repeat}*/
/*.gnb_2dul {display:none;z-index:1000;position:absolute;border:1px solid #c9c9c9;background:#fff}*/
/*.gnb_1dli_over .gnb_2dul, .gnb_1dli_over2 .gnb_2dul {display:block;top:31px;left:0;width:130px}*/
/*.gnb_2da {display:none}*/
/*.gnb_1dli_over .gnb_2da {display:block;padding:10px;border-bottom:1px solid #e9e9e9;color:#656565;text-align:left}*/
/*.gnb_2da:focus, .gnb_2da:hover {color:#ff2342;background:#f2f5f9;text-decoration:none}*/

/* 오늘 본 상품 */
#stv {position:relative;margin:30px 0 0;padding:20px 0 50px;border:1px solid #d2d2db;background:#fff;text-align:center}
#stv_list {margin:0 auto;width:980px}
#stv_list h2 {padding:0 0 15px;color:#404040;letter-spacing:-0.1em}
#stv_pg {display:block;margin:5px 0 0;font-weight:normal}
#stv_btn {position:relative;height:1px;text-align:left}
#stv_btn button {position:absolute;top:38px;margin:0;padding:0;width:40px;height:46px;border:0;background:transparent;line-height:2em;overflow:hidden}
#stv_btn button span {display:block;height:100%;background:url('img/is-stv-btn.png')}
#stv_btn #up {left:0}
#stv_btn #up span {background-position:0 0}
#stv_btn #down {right:0}
#stv_btn #down span {background-position:-40px 0}
.stv_item {display:none;padding:0 9px;color:#8e8e8e;vertical-align:top;text-align:center;word-break:break-all}
.stv_item img {margin:5px 0;border:1px solid #dce5ef}

/* aside:이벤트 링크 */
#sev {}
#sev h2 {}
#sev ul {}
#sev .sev_img {}
#sev .sev_text {}
#sev .sev_text:focus, #sev .sev_text:hover {}
#sev strong {}
#sev_empty {}

/* aside:커뮤니티 링크 */
#scomm {}
#scomm h2 {}
#scomm ul {}
#scomm a {}
#scomm a:focus, #scomm a:hover {}
#scomm_empty {}


/* ##### main(nn).skin.php, list.(nn).skin.php 공통 적용 시작 ##### */
/* 공통 */
.sct_wrap {position:relative;margin:0 0 30px;zoom:1}
.sct_wrap .sctrl {position:absolute;top:0;right:0} /* 애니메이션 효과 사용 시 재생 정지 버튼 등 */
.sct_wrap:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap header {margin:0 0 20px;zoom:1}
.sct_wrap header:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap h2 {margin:0;padding:0;line-height:1em}
.sct_wrap h2 a {text-decoration:none}
.sct_wrap_hdesc {display:none}

#sct {clear:both}

.sct, .sct_ul {clear:both;margin:0;padding:0;list-style:none;zoom:1}
.sct:after, .sct_ul:after {display:block;visibility:hidden;clear:both;content:""}
.sct_noitem {padding:100px 0;text-align:center}
.sct img {position:relative} /* 리스트뷰 갤러리뷰 변경 시 ie6,7 에서 이미지 사라지는 문제 해결하기 위해 */

/* 재생/정지/이전/다음 버튼 */
.sctrl {margin:0;padding:0;list-style:none;zoom:1}
.sctrl:after {display:block;visibility:hidden;clear:both;content:""}
.sctrl li {position:relative;float:left;margin:0 0 0 -1px}
.sctrl button {position:relative;margin:0;padding:0;width:20px;height:20px;border:0;cursor:pointer;overflow:hidden}
.sctrl button span {position:absolute;top:0;left:0;width:100%;height:100%;background:url('img/is_sctrl.gif')}
.sctrl button.sctrl_play span {background-position:0 0}
.sctrl button.sctrl_play:active span {background-position:0 -20px}
.sctrl button.sctrl_play span.sctrl_on {background-position:0 -20px}
.sctrl button.sctrl_stop span {background-position:-20px 0}
.sctrl button.sctrl_stop:active span {background-position:-20px -20px}
.sctrl button.sctrl_stop span.sctrl_on {background-position:-20px -20px}
.sctrl button.sctrl_prev span {background-position:-40px 0}
.sctrl button.sctrl_prev:active span {background-position:-40px -20px}
.sctrl button.sctrl_prev span.sctrl_on {background-position:-40px -20px}
.sctrl button.sctrl_next span {background-position:-60px 0}
.sctrl button.sctrl_next:active span {background-position:-60px -20px}
.sctrl button.sctrl_next span.sctrl_on {background-position:-60px -20px}

/* 메인상품 목록 */
.smt_20 {position:relative;overflow-y:hidden}
.smt_30 {clear:both;position:relative;overflow:hidden}
.smt_30 .sct_ul {left:980px;width:980px}
.smt_30 .sct_ul_first {left:0}
.smt_40 {position:relative;overflow-y:hidden}
.smt_50 .sct_ul {display:none;position:relative;margin:0;padding:0;list-style:none;overflow-y:hidden}
.smt_50 .sct_ul_first {display:block}
.sct_ul {position:absolute;top:0;left:0;margin:0;padding:0;list-style:none}
.sct_ul_first {display:block;top:0}

/* 관련상품 목록 스킨 10 */
.scr_10 .sct_li {position:relative;float:left;margin:0 20px 15px 0}
.scr_10 .sct_last {margin:0 0 15px !important}
.scr_10 .sct_clear {clear:both}
.scr_10 .sct_txt {margin:0 0 5px}
.scr_10 .sct_a {display:inline-block;position:relative;margin:0 0 5px;text-decoration:none}
.scr_10 .sct_a:focus, .sct_10 .sct_a:hover {text-decoration:none}
.scr_10 .sct_icon {margin:0 0 10px}
.scr_10 .sct_id {display:block;margin:0 0 5px}
.scr_10 .sct_basic {margin:0 0 10px}
.scr_10 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}

/* 개인결제 */
.sct_pv {}
.sct_pv .pv_img {width:100%;height:auto}

/* ##### main(nn).skin.php, list.(nn).skin..php 공통 적용 끝 ##### */

/* 상품 목록 */
#sct {}
.sct_admin {margin:0 0 10px}
.sct_admin .btn_admin {display:block;text-align:center}

/* 상품 목록 현재 위치 */
#sct_location a {font-size:20px;letter-spacing:0.05em;}
.sct_bg {padding-right:15px !important;background:url('img/sct_bg_toright.gif') right 8px no-repeat}

/* 상품 목록 카테고리 목록 */
.sct_ct {}
.sct_ct h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.sct_ct ul:after {display:block;visibility:hidden;clear:both;content:""}
.sct_ct_parent {font-weight:bold}
.sct_ct_here {color:#ff3600 !important}

#sct_ct_2 li {padding:0 0 10px}
#sct_ct_2 a {display:inline-block;width:163px}
#sct_ct_3 li {float:left;padding:0 0 10px;width:163px}

/* 상품 정렬 리스트 스타일 선택 공통 */
#sct_sortlst {zoom:1}
#sct_sortlst:after {display:block;visibility:hidden;clear:both;content:""}

/* 상품 정렬 */




/* 상품 리스트 스타일 선택 */
#sct_lst {float:right;margin:0 0 10px;padding:0;list-style:none;zoom:1}
#sct_lst:after {display:block;visibility:hidden;clear:both;content:""}
#sct_lst li {position:relative;float:left;margin:0 0 0 -1px}
#sct_lst button {position:relative;margin:0;padding:0;width:25px;height:25px;border:0;cursor:pointer;overflow:hidden}
#sct_lst button span {position:absolute;top:0;left:0;width:23px;height:23px;border:1px solid #e9e9e9;background:url('img/is_button.gif')}
#sct_lst button.sct_lst_list span {background-position:0 0}
#sct_lst button.sct_lst_list span.sct_lst_on {background-position:0 -30px}
#sct_lst button.sct_lst_gallery span {background-position:-30px 0}
#sct_lst button.sct_lst_gallery span.sct_lst_on {background-position:-30px -30px}

/* 상품 상세보기 */
.sit_admin {margin:0 0 10px}
.sit_admin .btn_admin {display:block;text-align:center}
.sit_empty {padding:20px 0;text-align:center}

/* 상품 상세보기 - 개요 */
#sit_ov_wrap:after {display:block;visibility:hidden;clear:both;content:""}

/* 상품 상세보기 - 이미지 미리보기 */
#sit_pvi_big a {opacity:0;visibility:hidden;cursor:zoom-in;transition:all 0.4s;}
#sit_pvi_big a.visible {opacity:1;visibility:visible;}
#sit_pvi_big img {}
#sit_pvi_big .ms-noimg {width:100%;height:auto}
#sit_pvi_nwbig {padding:10px 0;text-align:center}
#sit_pvi_nwbig span {display:none}
#sit_pvi_nwbig span.visible {display:inline}
#sit_pvi_nwbig .largeimage {width:500px;height:500px}
#sit_pvi_nw #thumbs {margin:0 20px;text-align:center}
#sit_pvi_nw #thumbs a {display:inline-block;margin:0 1px 0 0}

/* 상품 상세보기 - 간략정보 및 구매기능 */
#sit_ov {position:relative;float:right;padding:50px 15px 15px;width:588px;height:auto !important;height:355px;min-height:355px}
#sit_ov h3 {margin:0 0 10px;color:#779c16}

#sit_title {margin:0 0 5px;font-size:1.3em}
#sit_desc {margin:0 0 5px;padding:0;color:#999}
#sit_opt_info {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

#sit_star {margin:0 0 3px}
#sit_star span {position:absolute;font-size:0;line-height:0;overflow:hidden}

#sit_sns {position:absolute;top:15px;right:15px;color:#b8afa2;font-size:0.95em;letter-spacing:-0.1em}
#sit_sns .sit_star {position:relative;top:-2px;margin:0 5px 0 0}
#sit_sns a {display:inline-block;vertical-align:middle}

.sit_ov_tbl {margin-bottom:20px;width:100%;border:0;border-collapse:collapse}
.sit_ov_tbl th {border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;font-weight:normal;text-align:left}
.sit_ov_tbl td {padding:7px 0}
#sit_ov .sit_ov_tbl td {border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.sit_ov_ro {padding:2px 2px 3px;border:0;background:transparent;text-align:right;vertical-align:middle}
.sit_ov_opt {padding:2px 2px 3px;border:0;background:transparent;vertical-align:middle}
.sit_ov_input {margin:0 1px 0 0;padding:2px 2px 3px;border:1px solid #b8c9c2;background:transparent;vertical-align:middle}
#sit_ov_tbl button {margin:0 1px 0 0}

.sit_cost {color:#ff4b4b}

.sit_sel_btn {position:relative} /* 선택옵션용 추가 버튼 */
.sit_sel_btn button {position:absolute;top:-51px;right:0 !important;right:15px}

.sit_opt_list {background:#d9d9d9}
.sit_opt_list .frm_input, .sit_spl_list .frm_input {width:30px;height:16px;text-align:center;line-height:1.4em;letter-spacing:0}
.sit_qty_btn {margin:0;padding:0;border:0;background:transparent}
.sit_qty_btn span {position:absolute;font-size:0;line-height:0;overflow:hidden}
.sit_opt_del {margin:0 0 0 10px !important}

#sit_sel_option h3 {position:absolute;font-size:0;line-height:0;overflow:hidden}

#sit_tot_price {margin:20px 0;font-size:1.3em;font-weight:bold}

#sit_ov_soldout {margin:0 0 20px;color:#ff3061;font-weight:bold;text-align:center}

#sit_btn_rec {background:#779c16;color:#fff}

/* 상품 재입고 알림 (SMS) */
#sit_sms_new {}
#sit_sms_new #sms_agree {padding:10px 0;text-align:right}

/* 상품 상세보기 - 다른 상품 보기 */
#sit_siblings {clear:both;margin:0 0 20px;padding:10px 0;text-align:center}
#sit_siblings:after {display:block;visibility:hidden;clear:both;content:""}
#sit_siblings h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_siblings a {display:inline-block;padding:8px 12px;border:1px solid #d2d2db;background:#fff}
#sit_siblings #siblings_prev {float:left}
#sit_siblings #siblings_next {float:right}
#sit_siblings a span {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

/* 상품 상세보기 - 상품정보 */
#sit_inf {margin:0 0 10px;padding:20px 10px;border-bottom:1px solid #d2d2db;background:#fff}
#sit_inf_h2, .sit_inf_h3 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sit_inf .sanchor_on {background:#fff}

#sit_inf_basic {margin:0 0 10px}
#sit_inf_explan {margin:0 0 10px}
#sit_inf_explan img {max-width:100%;height:auto}

#sit_inf_open {width:100%;border:0;border-collapse:collapse;background:#d9d9d9;color:#484848;font-size:0.95em;letter-spacing:-0.1em}
#sit_inf_open th {padding:4px 5px;border:1px solid #c0c0c0;font-weight:normal;vertical-align:top;text-align:left}
#sit_inf_open td {padding:4px 5px;border:1px solid #c0c0c0;vertical-align:top}

/* 상품 상세보기 - 사용후기 */
#sit_use {margin:0 0 10px;padding:10px 10px 20px}
#sit_use_h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sit_use_h3 {position:absolute;font-size:0;line-height:0;overflow:hidden}

#sit_use_ol {margin:0 0 5px;padding:0;list-style:none}
.sit_use_li {position:relative;margin:0 0 10px;padding:0 0 10px;border-bottom:1px solid #dfdfdf}
.sit_use_li_title {display:block;margin:0 0 5px;padding:0;width:90%;border:0;background:transparent;font-weight:bold;text-align:left;cursor:pointer}
.sit_use_li_title b {display:inline-block;width:30px;font-weight:normal}
.sit_use_cmd {position:absolute;top:0;right:0}
.sit_use_cmd a {color:#656565;font-size:0.95em;letter-spacing:-0.1em}
.sit_use_dl {margin:0 0 0 34px;padding:0;zoom:1}
.sit_use_dl:after {display:block;visibility:hidden;clear:both;content:""}
.sit_use_dl dt {position:absolute;font-size:0;line-height:0;overflow:hidden}
.sit_use_dl dd {float:left;margin:0 10px 0 0;font-size:0.95em}
.sit_use_con {display:none;padding:5px 0 0}
.sit_use_p {margin:0 0 10px;padding:10px;border:1px solid #d2d2db;background:#fff}

#sit_use_wbtn {margin:0 0 5px;text-align:right}

#sit_use_write {}
#sit_use_write #is_subject {width:100%}
#sit_use_write ul {margin:5px 0 0}
#sit_use_write li {margin:0 0 5px}
#sit_use_write li label {display:inline-block;width:80px}
#sit_use_write_star {margin:0;padding:0;list-style:none}

/* 상품 상세보기 - 상품문의 */
#sit_qa {margin:0 0 10px;padding:10px 10px 20px}
#sit_qa_h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sit_qa_h3 {position:absolute;font-size:0;line-height:0;overflow:hidden}

#sit_qa_ol {margin:0 0 5px;padding:0;list-style:none}
.sit_qa_li {position:relative;margin:0 0 10px;padding:0 0 10px;border-bottom:1px solid #dfdfdf}
.sit_qa_li_title {display:block;margin:0 0 5px;padding:0;width:90%;border:0;background:transparent;font-weight:bold;text-align:left;cursor:pointer}
.sit_qa_li_title b {display:inline-block;width:30px;font-weight:normal}
.sit_qa_cmd {position:absolute;top:0;right:0}
.sit_qa_cmd a {color:#656565;font-size:0.95em;letter-spacing:-0.1em}
.sit_qa_dl {margin:0 0 0 34px;padding:0;zoom:1}
.sit_qa_dl:after {display:block;visibility:hidden;clear:both;content:""}
.sit_qa_dl dt {position:absolute;font-size:0;line-height:0;overflow:hidden}
.sit_qa_dl dd {float:left;margin:0 10px 0 0;font-size:0.95em}
.sit_qaa_done, .sit_qaa_yet {letter-spacing:-0.1em}
.sit_qaa_done {color:#ff3061}
.sit_qaa_yet {color:#999}
.sit_qa_con {display:none;padding:5px 0 0}
.sit_qa_p {margin:0 0 10px;padding:10px;border:1px solid #d2d2db;background:#fff}

.sit_qa_p strong {display:inline-block;margin:0 0 10px}
.sit_qa_qaq {margin:0 0 20px}
.sit_qa_con textarea {display:none}

.sit_qa_pw {display:none;position:absolute;top:30px;left:175px;padding:10px;width:348px;border:1px solid #000;background:#fff;text-align:center}
.sit_qa_pw span {display:block;margin:0 0 5px}

#sit_qa_wbtn {margin:0 0 5px;text-align:right}

#sit_qa_write {}
#sit_qa_write #iq_subject {width:100%}

/* 상품 상세보기 - 배송정보 */
#sit_dvr {margin:0 0 10px;padding:10px 10px 20px}
#sit_dvr h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}

/* 상품 상세보기 - 교환정보 */
#sit_ex {margin:0 0 10px;padding:10px 10px 20px}
#sit_ex h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}

/* 상품 상세보기 - 관련상품 */
#sit_rel {margin:0 0 10px;padding:10px 10px 0}
#sit_rel h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sit_rel .sct_wrap li {margin:0 10px 0 0}
#sit_rel .sct_last {margin:0 !important}

/* 사용후기/상품문의 모음 */
#spsqa {clear:both}
#spsqa ol {margin:0;padding:0;list-style:none}
#spsqa li {position:relative;padding:10px 0;border-bottom:1px solid #dfdfdf}
#spsqa li:after {display:block;visibility:hidden;clear:both;content:""}

#spsqa_sch {float:left}

.spsqa_img {float:left;margin:0 10px 0 0}
.spsqa_img span {position:absolute;font-size:0;line-height:0;overflow:hidden}

#spsqa dl {margin:5px 0 0;height:18px;zoom:1}
#spsqa dl:after {display:block;visibility:hidden;clear:both;content:""}
#spsqa dt {position:absolute;font-size:0;line-height:0;overflow:hidden}
#spsqa dd {float:left;margin:0 10px 0 0;font-size:0.95em}
#spsqa dd img {position:relative;top:-2px}

.spsqa_section {float:left;width:920px}
.spsqa_con_btn button {width:100%;margin:0;padding:5px 0;border:0;background:transparent;font-weight:bold;text-align:left}
.spsqa_con {margin:0 0 10px;padding:10px;border:1px solid #d2d2db;background:#fff;line-height:1.8em}
.spsqa_con_btn {margin:0 0 5px}
.spsqa_link {position:absolute;bottom:15px;right:0}