@import url('loader.css');

/* Header */
#hd {background:#fff;height:75px;box-sizing:border-box;position:fixed;z-index:999;width:100%;box-shadow:1px 1px 1px rgba(34,34,34,.1);}
#hd .inner {position:relative;margin:0 auto;max-width:1219px;zoom:1;z-index:4;padding:0 10px;box-sizing:border-box;}
#hd .inner:after {display:block;visibility:hidden;clear:both;content:""}
#hd #logo {padding-top:26px;float:left;}
#hd #gnb {position:absolute;left:240px;top:0;}
#hd #gnb .nav > li > a {border-bottom:2px solid transparent;-webkit-transition:all .3s ease .1s;-moz-transition:all .3s ease .1s;-o-transition:all .3s ease .1s;-ms-transition:all .3s ease .1s;transition:all .3s ease .1s;padding-bottom:2px}
#hd #gnb .nav.open > li > a {color:#aaa;}
#hd #gnb .nav.open > li.open > a {color:#222;border-bottom:2px solid #222;padding-bottom:4px}
#hd #gnb .nav > li {float:left;padding-left:15px;padding-right:15px;height:75px;cursor:pointer;box-sizing:border-box;line-height:75px;}
#hd #gnb .nav > li > a {font-family:"ProximaNova-Semibold",sans-serif;font-size:12px;text-transform:uppercase;letter-spacing:0.1em;}
#hd #gnb .nav > li > div {position:fixed;display:block;width:100%;height:245px;top:75px;left:0;opacity:0;visibility:hidden;overflow:hidden;background:rgba(50,50,50,0.98);color:#fff;box-shadow:0px  5px 10px rgba(0,0,0,0.05);cursor:default;}
#hd #gnb .nav > li > div.animate{
  -webkit-transition:all .3s ease .1s;
  -moz-transition:all .3s ease .1s;
  -o-transition:all .3s ease .1s;
  -ms-transition:all .3s ease .1s;
  transition:all .3s ease .1s;
}
#hd #gnb .nav > li > div.shown {opacity:1;visibility:visible;overflow:visible;}
#hd #gnb .nav > li > div .dropdown_inner {width:1219px;margin:0 auto;position:relative;}
#hd #gnb .nav .nav-column dl {font-family:"ProximaNova-Semibold",sans-serif;text-transform:uppercase;float:left;width:175px;margin:35px 15px 0;}
#hd #gnb .nav .nav-column dt {font-size:12px;color:#eaeaea;line-height:12px;border-bottom:1px solid #444;padding-bottom:15px;margin-bottom:7px;}
#hd #gnb .nav .nav-column dd {font-size:11px;color:#939393;line-height:35px;}
#hd #gnb .nav .img-column {width:350px;height:245px;background:#ccc;position:absolute;right:0;top:0;background-size:cover;background-position:center;}
#hd #gnb .nav .women .img-column {background-image:url('http://cdn-static.farfetch.com/content/images/home_cms/stripe_icon.jpg');}
#hd #gnb .nav .men .img-column {background-image:url('../img/temp_gnb01.jpg');}
#hd #gnb .nav .trend .nav-column,
#hd #gnb .nav .collections .nav-column {width:25%;float:left;height:245px;line-height:28px;font-size:18px;position:relative;}
#hd #gnb .nav .trend .overlay,
#hd #gnb .nav .trend .style_box,
#hd #gnb .nav .trend .img_wrap,
#hd #gnb .nav .trend .img {width:100%;height:245px;}
#hd #gnb .nav .trend .overlay {-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:rgba(40,40,40,0.6);display:block;position:absolute;left:0;top:0;z-index:10;}
#hd #gnb .nav .trend .img_wrap {display:block;overflow:hidden;}
#hd #gnb .nav .trend .img_wrap .img {background-size:cover;background-position:center;}
#hd #gnb .nav .trend .text_wrap01 {top:50%;-webkit-transform:translateY(-22px);-ms-transform:translateY(-22px);transform:translateY(-22px);position:absolute;left:0;right:0;margin:0 auto;z-index:20;display:inline-block;word-break:break-all;text-align:center;color:#fff;}
#hd #gnb .nav .trend .text_wrap01 span.title {letter-spacing:0.1em;font-size:18px;font-family:'ProximaNova-Semibold',sans-serif;text-transform:uppercase;border-bottom:2px solid #fcfcfc;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
#hd #gnb .nav .sell {position:relative;margin-left:5px;padding-left:22px;}
#hd #gnb .nav .sell:before {content:'';width:1px;height:13px;background:#eaeaea;position:absolute;left:0;top:33px;}
#hd_tnb {position:absolute;right:105px;font-size:12px;letter-spacing:0.05em;top:0;line-height:75px;}
#hd_tnb a {padding:0 10px;line-height:40px;display:inline-block;border-radius:2px;position:relative;}
#hd_tnb a.member {padding-right:13px;margin-right:10px;}
#hd_tnb a.member:before {width:0px;height:0px;content:'';position:absolute;right:0;top:19px;border:4px solid transparent;border-top:4px solid #ff2847;}
#hd_tnb a.member:hover:before {transform:rotate(180deg);top:15px;}
#hd_tnb a.member > ul {position:absolute;left:10px;top:40px;opacity:0;visibility:hidden;width:120px;box-shadow:0 0 2px rgba(0,0,0,0.2);padding:4px 0;background:#fff;}
#hd_tnb a.member:hover ul {opacity:1;visibility:visible;}
#hd_tnb a.member > ul li:hover {color:#868686;}
#hd_tnb a.member > ul li {background:#fff;color:#222;padding:2px 15px;line-height:30px;}
#hd_qnb {position:absolute;right:10px;top:29px;}
#hd_qnb:after {display:block;visibility:hidden;clear:both;content:""}
#hd_qnb a img {float:left;margin:0 5px;}
#hd_sch {position:absolute;left:0;top:75px;width:100%;height:120px;background:#fff;text-align:center;opacity:0;visibility:hidden;box-shadow:0px  5px 10px rgba(0,0,0,0.05);
  -webkit-transition:all .3s ease .1s;
  -moz-transition:all .3s ease .1s;
  -o-transition:all .3s ease .1s;
  -ms-transition:all .3s ease .1s;
  transition:all .3s ease .1s;
}
#hd_sch.visible {visibility:visible;opacity:1;}
#hd_sch h2 {width:1219px;text-align:left;margin:0 auto;padding-left:20px;font-size:13px;box-sizing:border-box;}
#hd_sch .search_inner {width:1219px;padding:0 20px;box-sizing:border-box;margin:0 auto;position:relative}
#hd_sch input {float:left;width:1219px;height:70px;font-size:30px;margin-top:10px;}
#hd_sch input::-ms-clear {display:none;}
#hd_sch span.close {position:absolute;right:30px;top:20px;cursor:pointer;width:50px;height:50px;}
#hd_sch span.close::before, #hd_sch span.close::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 30px;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -15px;
  background: #ccc;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;}

#hd_sch span.close.search-is-visible::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);}
#hd_sch span.close.search-is-visible::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);}
#hd_sch span.close.search-is-visible::before, #hd_sch span.close.search-is-visible::after {opacity:1;}
#hd_sch img {opacity:1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;}
#hd_sch .search-is-visible img {opacity:0}
div.gnb_overlay_search,
div.gnb_overlay{width:100%;height:100%;background:rgba(0,0,0,0.5);position:fixed;left:0;top:0;z-index:10;visibility:hidden;opacity:0;z-index:100;
  -webkit-transition:all .3s ease .1s;
  -moz-transition:all .3s ease .1s;
  -o-transition:all .3s ease .1s;
  -ms-transition:all .3s ease .1s;
  transition:all .3s ease .1s;
}
div.gnb_overlay_search.show,
div.gnb_overlay.show{opacity:1;visibility:visible;}


#ms-title {position:relative;background:#222222;padding-top:75px;color:#fff;margin:0 0 30px;}
#sct {width:1219px;padding:0 10px;margin:0 auto;box-sizing:border-box;}
#sct_location {position:relative;width:1219px;height:100px;line-height:100px;padding:0 20px;background:#222;margin:0 auto;box-sizing:border-box;}
#ms-title .btn_area {position:absolute;right:15px;top:-3px;}
#ms-title .btn_area a {padding:0 30px;line-height:55px;font-size:12px;font-weight:400;position:relative;}
#ms-title .btn_area a.facebook {background:#335ee2;padding-left:55px;}
#ms-title .btn_area a.facebook:before {width:10px;height:20px;content:'';position:absolute;left:20px;top:18px;background:url(../img/ico_facebook.png)0 0 no-repeat;}
#sct_location a {font-size:18px;letter-spacing:0.05em;display:inline-block;font-family:'ProximaNova-Regular','Malgun Gothic',sans-serif;font-weight:700;text-transform:capitalize;}
.sct_bg {padding-right:18px !important;background:url('../img/arr_s.png') right center no-repeat;margin-right:8px;}
#sct_ct_1 li {float:left;padding:0 40px 10px 0;font-size:12px;letter-spacing:0.05em;text-transform:uppercase;font-family:'ProximaNova-Semibold',sans-serif;}
#sct_ct_1 {padding-bottom:10px;}
.sct_ct {border-bottom:1px solid #ccc;margin-bottom:25px;}
.sct_img img {width:235px;height:313px;}
#sct_sort {margin-bottom:20px;display:block;}
#sct_sort_h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sct_sort li {display:inline-block;}
.sas {font-size:12px;letter-spacing:0.01em;}
.sas li:before {content:'/';margin:0 6px;}
.sas li:first-child {margin:0;}
.sas li:first-child:before {content:'';margin:0;}
.sas .sas_on, .sas #bo_cate_on {color:#ff2847;font-weight:700;}

/* 상품 목록 스킨 */
.sct .sct_li {position:relative;float:left;margin:0 6px 10px 0;background:#fff;width:235px;height:450px;border-radius:2px;box-shadow:1px 1px 1px rgba(0,0,0,0.05);}
.sct .sct_last {margin-right:0;}
.sct_brand {font-size:13px;letter-spacing:0.15em;text-transform:uppercase;margin-left:15px;margin-top:325px;font-family:'ProximaNovaCond-Bold',sans-serif;}
.sct_txt {font-size:13px;margin-left:15px;margin-top:5px;}
.sct_txt .size:before {width:1px;height:10px;content:'';margin:0 10px;background:#999;display:inline-block;}
.sct_cost {font-size:12px;margin-left:15px;margin-top:13px;}
.sct_cost .retail {text-decoration:line-through;color:#999;display:inline-block;margin-left:8px;}
.sct .sct_li .sct_icon {font-size:13px;color:#aaa;font-family:'ProximaNova-Regular',sans-serif;position:absolute;bottom:12px;left:15px;}
.sct .sct_li .sct_icon .sit_icon:first-child {margin:0;}
.sct .sct_li .sct_icon .sit_icon {margin-left:5px;display:inline-block;}

/* 페이징 */
.pg_wrap {clear:both;position:relative;margin-top:30px;text-align:right;margin-bottom:60px;}
.pg {color:#868686;float:right;}
.pg_page, .pg_current, .qa_page {width:73px;height:68px;line-height:68px;background:#fff;font-family:'ProximaNova-Regular',sans-serif;margin-left:1px;display:block;float:left;text-align:center;}
.pg_current {font-family:'ProximaNova-Semibold',sans-serif;background:#333;color:#fff;}

/* 로그인 */
.login_wrap {width:1219px;box-sizing:border-box;padding:0 10px;margin:60px auto 160px;}
#mb_nomember, #mb_signup, #mb_login {max-width:652px;width:50%;padding:5px;box-sizing:border-box;float:left;}
#mb_nomember #mb_nomember_mb,
#mb_signup #mb_signup_mb,
#mb_login #mb_login_mb{padding:50px 60px 40px 55px;background:#fff;border-radius:2px;box-sizing:border-box;box-shadow:1px 1px 1px rgba(0,0,0,0.05);min-height:400px;}
.login_wrap h2.title {font-size:18px;font-weight:700;margin-bottom:10px;}
.login_wrap p.desc {font-size:13px;font-weight:400;color:#666;margin-bottom:9px;}
.login_wrap p.desc a {text-decoration:underline;}

/* BOX */
.login_wrap .ms-box {position:relative;border:1px solid #aaa;background:#fff;width:100%;margin:14px 0;float:left;box-sizing:border-box;}
.login_wrap .password-wrap {}
.login_wrap .password_wrap .ms-box-wrap {width:50%;float:left;padding-right:1.5%;box-sizing:border-box;}
.login_wrap .password_wrap .ms-box-wrap+.ms-box-wrap {padding-left:1.5%;padding-right:0;}
.login_wrap .ms-box input {width:100%;font-size:13px;padding:20px 20px;color:#222;box-sizing:border-box;}
.login_wrap .ms-confirm-links {position:relative;}
.login_wrap #mb_nomember .ms-confirm-links {margin-top:5px;}
.login_wrap .ms-confirm-links label,
.login_wrap .ms-confirm-links a {margin:7px 0 20px;display:inline-block;color:#222;text-decoration:underline;font-size:12px;letter-spacing:0.05em;}
.login_wrap .ms-confirm-links label {cursor:pointer;text-decoration:none;margin-left:5px;}
.login_wrap .ms-confirm-links input[type="checkbox"] {vertical-align:middle;position:absolute;left:0;top:10px;}
.login_wrap .ms-confirm-links input+label {text-indent:15px;}
.login_wrap .ms-box-lbl {position:absolute;top:20px;left:20px;color:#999;cursor:text;font-size:13px;}
.login_wrap .ms-confirm-submit {font-size:14px;color:#fff;width:140px;height:61px;background:#ff2847;cursor:pointer;margin:2px 0;}

/* INDEX 배너 */
.slide_img {width:100%;min-width:1219px;background-size:cover;background-position:center;height:400px;cursor:pointer;}
.slide_img .contents_wrap {max-width:1219px;margin:0 auto;height:400px;position:relative;}
#sidx_slide {position:relative;top:0;left:0;overflow:hidden;height:400px;}
#sbn_idx {margin:0 auto;width:100%;height:400px;min-width:1219px;}
#sbn_idx h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sbn_idx_slide {position:relative;top:0;left:0;width:100%;overflow:hidden;min-width:1219px;}

#sbn_idx a {text-decoration:none}
.sbn_ani {position:absolute;}
.sbn_text_main {left:50px;font-size:14px;color:rgba(0,0,0,0.5);font-family:'ProximaNova-Semibold',sans-serif;letter-spacing:0.05em;}
.sbn_text_sub {right:100px;font-size:21px;color:#222;font-weight:700;line-height:26px;}
.sbn_buy {left:50%;font-size:14px;color:rgba(0,0,0,0.5);font-family:'ProximaNova-Semibold',sans-serif;letter-spacing:0.05em;transform:translateX(-50%);}
.sbn_idx_btn {position:absolute;top:0}
.sbn_idx_btn button {position:absolute;top:0;margin:0;padding:0;border:0;background:transparent}
#sbn_idx_prev {}
#sbn_idx_prev button {width:150px;height:400px;}
#sbn_idx_prev button:hover {
background: -moz-linear-gradient(left,  rgba(0,0,0,0.1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */}
#sbn_idx_next {right:150px}
#sbn_idx_next button {width:150px;height:400px;}
#sbn_idx_next button:hover {background: -moz-linear-gradient(right,  rgba(0,0,0,0.1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, right top, right top, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(right,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(right,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(right,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to left,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */}
#slide-bullet {position:absolute;left:50%;bottom:12px;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
#slide-bullet div {margin-left:-50%;}
.slide-bullet {display:inline-block;margin:0 2px;padding:0;width:12px;height:12px;border:0;border-radius:13px;background:rgba(0,0,0,0.1);transition:all 0.2s;}
.slide-bullet-on {background:rgba(0,0,0,0.4);transition:all 0.2s;}
.swipe {overflow:hidden;visibility:hidden;position:relative;}
.swipe-wrap {overflow:hidden;position:relative;}
.swipe-wrap > div {float:left;width:100%;position:relative;}


/* Featured */
#ms-idx-bnnr {position:relative;margin:32px auto 30px;width:1219px;padding:0 10px;box-sizing:border-box;}
h2.main_title {font-family:'ProximaNova-Semibold',sans-serif;text-transform:uppercase;font-size:13px;letter-spacing:0.2em;margin-bottom:12px;}
#ms-idx-bnnr .anchor {font-family:'ProximaNova-Semibold';}
#ms-idx-bnnr .grid,
#ms-idx-bnnr .grid .grid_img,
#ms-idx-bnnr .grid .grid_txt {width:50%;background:#fff;height:240px;float:left;position:relative;transition:background 0.4s;z-index:;}
#ms-idx-bnnr .grid .grid_txt {z-index:1;}
#ms-idx-bnnr .grid .grid_txt .visible_group {position:absolute;bottom:25px;left:5px;transition:all 0.4s cubic-bezier(0.190, 1.000, 0.220, 1.000);}
#ms-idx-bnnr .grid .grid_txt .hover_group {opacity:0;position:absolute;bottom:5px;left:5px;transition:all 0.2s cubic-bezier(0.190, 1.000, 0.220, 1.000);}
#ms-idx-bnnr .grid:hover .grid_txt .visible_group {bottom:60px;transition:all 0.6s cubic-bezier(0.190, 1.000, 0.220, 1.000);}
#ms-idx-bnnr .grid:hover .grid_txt .hover_group {opacity:1;bottom:25px;transition:all 0.6s cubic-bezier(0.190, 1.000, 0.220, 1.000);}
#ms-idx-bnnr .grid .grid_txt .sct_icon {padding:10px 15px;background:#404040;display:inline-block;text-transform:uppercase;color:#fff;font-size:12;font-family:'ProximaNova-Regular',sans-serif;font-weight:400;font-size:12px;color:#eaeaea;letter-spacing:0.1em;position:absolute;left:0;top:0;z-index:9;}
#ms-idx-bnnr .grid .grid_img {position:relative;overflow:hidden;-webkit-perspective:1000px;perspective:1000px;}
#ms-idx-bnnr .grid .grid_img .img {width:331px;height:240px;transition:all 0.4s ease-in-out;background-position:center;background-size:cover;transform:translate3d(0,0,0)}
#ms-idx-bnnr .grid:hover .grid_img .img {transform:translate3d(0,0,20px);transition:all 0.4s ease-in-out}
#ms-idx-bnnr .grid .arr_r {width:0;height:0;border-top:15px solid transparent;border-right:15px solid transparent;border-left:15px solid #fff;border-bottom:15px solid transparent;position:absolute;top:80px;right:-30px;transition:border 0.4s;}
#ms-idx-bnnr .grid:hover .arr_r {border-left:15px solid #404040;transition:border 0.4s;}
#ms-idx-bnnr .grid .arr_l {width:0;height:0;border-top:15px solid transparent;border-right:15px solid #fff;border-left:15px solid transparent;border-bottom:15px solid transparent;position:absolute;top:80px;left:-30px;transition:border 0.4s;}
#ms-idx-bnnr .grid:hover .arr_l {border-right:15px solid #404040;transition:border 0.4s;}

#ms-idx-bnnr .grid .grid_txt .box * {white-space:nowrap;}
#ms-idx-bnnr .grid .grid_txt .box {position:absolute;left:0;top:0;display:none;overflow:hidden;width:0;transition:width 0.6s,background 0.4s;height:100%;display:block;background:#fff;}
#ms-idx-bnnr .grid:hover .grid_txt .box {background:#404040;transition:background 0.4s;color:#fff;}
#ms-idx-bnnr .grid .grid_txt .box.out {display:block;width:0;transition:width 0.6s;z-index:1;}
#ms-idx-bnnr .grid .grid_txt .box.in {display:block;width:100%;transition:width 0s;}
#ms-idx-bnnr .grid .grid_txt .box.current {display:block;width:100%;}

#ms-idx-bnnr .grid .grid_img a {position:absolute;left:0;top:0;display:none;overflow:hidden;width:0;transition:width 0.6s;height:100%;display:block;}
#ms-idx-bnnr .grid .grid_img a.out {display:block;width:0;transition:width 0.6s;z-index:1;}
#ms-idx-bnnr .grid .grid_img a.in {display:block;width:100%;transition:width 0s;}
#ms-idx-bnnr .grid .grid_img a.current {display:block;width:100%;}
#ms-idx-bnnr .grid .grid_img a {position:absolute;left:0;top:0;display:none;overflow:hidden;width:0;transition:width 0.6s;height:100%;display:block;}
#ms-idx-bnnr .grid .grid_img a.out {display:block;width:0;transition:width 0.6s;z-index:1;}
#ms-idx-bnnr .grid .grid_img a.in {display:block;width:100%;transition:width 0s;}
#ms-idx-bnnr .grid .grid_img a.current {display:block;width:100%;}
#ms-idx-bnnr #events {display:none;position:relative;}
#ms-idx-bnnr #events .slidesjs-container {position:absolute !important;left:0;top:0;}
#ms-idx-bnnr .events .slide {width:100%;height:240px;background-size:cover;background-position:center;color:#fff;}
#ms-idx-bnnr .events .slide .shadow1 {position:absolute;left:0;top:0;width:100%;height:240px;background: -moz-linear-gradient(left,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.25)), color-stop(50%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 50%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
#ms-idx-bnnr .events .slide .shadow2 {position:absolute;left:0;top:0;width:100%;height:240px;background:rgba(0,0,0,0.1);}
#ms-idx-bnnr .events .slide h2 {font-size:14px;font-family::'ProximaNova-Semibold',sans-serif;text-transform:uppercase;color:rgba(255,255,255,0.65);position:absolute;left:25px;top:30px;z-index:1;letter-spacing:0.15em;}
#ms-idx-bnnr .events .slide h3 {font-size:18px;line-height:32px;position:absolute;left:25px;top:46px;color:#fff;z-index:1;font-weight:700;letter-spacing:0.05em;}
#ms-idx-bnnr .events .slide p {font-size:12px;position:absolute;left:25px;top:90px;z-index:1;color:rgba(255,255,255,0.8);}
#ms-idx-bnnr .events .slidesjs-play,
#ms-idx-bnnr .events .slidesjs-stop,
#ms-idx-bnnr .events .slidesjs-previous {display:none !important;}
#ms-idx-bnnr .events .slidesjs-pagination {position:absolute;left:21px;bottom:14px;z-index:99;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
#ms-idx-bnnr .events .slidesjs-pagination li {float:left;}
#ms-idx-bnnr .events .slidesjs-pagination li a {width:10px;height:10px;background:rgba(255,255,255,0.2);text-indent:-9999px;overflow:hidden;float:left;margin:4px;border-radius:20px;}
#ms-idx-bnnr .events .slidesjs-pagination li a.active {background:rgba(255,255,255,0.8);}
#ms-idx-bnnr .events .slidesjs-next {position:absolute;right:0;width:100px;height:240px;z-index:99;overflow:hidden;text-indent:-9999px;}
#ms-idx-bnnr .events .slidesjs-next:hover {background: -moz-linear-gradient(right,  rgba(0,0,0,0.2) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, right top, right top, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(right,  rgba(0,0,0,0.2) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(right,  rgba(0,0,0,0.2) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(right,  rgba(0,0,0,0.2) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to left,  rgba(0,0,0,0.2) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */}
#ms-idx-bnnr .anchor {position:absolute;right:0;top:-8px;margin:0 5px;}
#ms-idx-bnnr .anchor a.prev {margin:0 2px;background:url('../img/arr_banner_left.png')center no-repeat;width:24px;height:24px;text-indent:-9999px;overflow:hidden;float:left;}
#ms-idx-bnnr .anchor a.next {margin:0 2px;background:url('../img/arr_banner_right.png')center no-repeat;width:24px;height:24px;text-indent:-9999px;overflow:hidden;float:left;}


.main_style_area {max-width:1219px;padding:0 10px;margin:0 auto;box-sizing:border-box;clear:both;}
.main_style_area.mt20 {margin-top:20px;display:block;}
.main_style_area .grid {width:25%;float:left;height:240px;background:#333;position:relative;}
.main_style_area .grid .style_box,
.main_style_area .grid .style_box .img,
.main_style_area .grid .style_box .img_wrap,
.main_style_area .grid .style_box .overlay {width:100%;height:100%;}
.main_style_area .grid .style_box {}
.main_style_area .grid .style_box .overlay {
  -webkit-transition:all 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);;
  -moz-transition:all 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);;
  -o-transition:all 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);;
  transition:all 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  background-color:rgba(64,64,64,0.4);
  display:block;
  position:absolute;
  left:0;
  top:0;
  z-index:10;
}

.main_style_area .grid:hover .style_box .overlay {
  background-color:rgba(64,64,64,0.8);
}
.main_style_area .grid .style_box .img_wrap {
  display:block;
  overflow:hidden;
  -webkit-perspective:1000px;
  perspective:1000px;
}
.main_style_area .grid .style_box .img_wrap .img {
  background-size:cover;
  background-position:center;
}

.main_style_area .grid:hover .style_box .img_wrap .img {
}

.main_style_area .grid .style_box .text_wrap01 {
  top:50%;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  z-index:20;
  display:inline-block;
  word-break:break-all;
  text-align:center;
  color:#fff;
  transition:transform 0.6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.main_style_area .grid:hover .style_box .text_wrap01 {
  -webkit-transform:translateY(-60px);
  -ms-transform:translateY(-60px);
  transform:translateY(-60px);
}

.main_style_area .grid .style_box .text_wrap01 span.title {
  letter-spacing:0.1em;
  font-size:20px;
  font-family:'ProximaNova-Semibold',sans-serif;
  text-transform:uppercase;
  border-bottom:2px solid transparent;
  -webkit-transition:border 0.8s cubic-bezier(0.190, 1.000, 0.220, 1.000);;
  -moz-transition:border 0.8s cubic-bezier(0.190, 1.000, 0.220, 1.000);;
  -o-transition:border 0.8s cubic-bezier(0.190, 1.000, 0.220, 1.000);;
  transition:border 0.8s cubic-bezier(0.190, 1.000, 0.220, 1.000);;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
.main_style_area .grid:hover .style_box .text_wrap01 span.title {
  border-bottom:2px solid #fcfcfc;
}

.main_style_area .grid .style_box .text_wrap02 .desc {
  top:50%;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  z-index:20;
  display:inline-block;
  word-break:break-all;
  text-align:center;
  color:#fff;
  transition:all 0.6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  opacity:0;
}

.main_style_area .grid:hover .style_box .text_wrap02 .desc {
  opacity:1;
}

.main_style_area .grid .style_box .text_wrap03 .brand {
  bottom:5px;
  font-size:12px;
  color:rgba(255,255,255,0.8);
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  z-index:20;
  display:inline-block;
  word-break:break-all;
  text-align:center;
  color:#fff;
  transition:all 0.6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  opacity:0;
}

.main_style_area .grid .style_box .text_wrap03 .brand span {
  display:block;
}

.main_style_area .grid:hover .style_box .text_wrap03 .brand {
  transition-delay:0.1s;
  opacity:1;
  bottom:10px;
}

.main_product {width:1219px;margin:0 auto;box-sizing:border-box;padding:30px 10px;}

.sct_img img {position:absolute;left:0;top:0;transition:all 0.6s;}
.sct_img img.img02 {visibility:hidden;opacity:0;}
.sct_li:hover .img01 {visibility:hidden;opacity:0;}
.sct_li:hover .img02 {visibility:visible;opacity:1;}

#ft {width:100%;min-width:1219px;background:#222;color:#eaeaea;font-size:12px;line-height:19px;}
#ft .footer_menu {padding:30px 0px;border-bottom:1px solid #333;}
#ft .footer_menu .footer_menu_inner {width:1219px;margin:0 auto;padding:0 10px;box-sizing:border-box;}
#ft .footer_menu nav.menu {float:left;}
#ft .footer_menu nav li {float:left;position:relative;}
#ft .footer_menu nav.menu li {margin:0 18px;}
#ft .footer_menu nav.menu li:first-child {margin-left:0;}
#ft .footer_menu nav.menu li:first-child:before {display:none;}
#ft .footer_menu nav.menu li:before {content:'';width:1px;height:15px;background:#333;position:absolute;left:-18px;top:5px;}
#ft .footer_menu nav.sns {float:right;}
#ft .footer_menu nav.sns li {width:20px;height:20px;overflow:hidden;text-indent:-9999px;background:url(../img/sns.png)0 0 no-repeat;margin:0 5px;opacity:0.6;transition:all 0.2s ease;}
#ft .footer_menu nav.sns li:hover {opacity:0.9;}
#ft .footer_menu nav.sns li.facebook {background-position:-20px;}
#ft .footer_menu nav.sns li.naverblog {background-position:-40px;}
#ft .footer_info {padding:30px 10px 0;width:1219px;margin:0 auto;box-sizing:border-box;}
#ft .footer_info > div {float:left;position:relative;}
#ft .footer_info > div.unionpool {margin-right:30px;}
#ft .footer_info dt {font-weight:700;margin-bottom:3px;}
#ft .footer_info dd {color:#aaa;}
#ft .footer_info dd a {text-decoration:underline;}
#ft .footer_info .unionpool span {font-family:'ProximaNova-Semibold',sans-serif;text-transform:uppercase;margin-top:45px;display:block;padding-bottom:30px;color:#fff;}
#ft .footer_info .usafe {margin-right:50px;}
#ft .footer_info .cscenter:before {width:1px;height:100px;background:#333;content:'';position:absolute;left:0;top:0;}
#ft .footer_info .cscenter {padding-left:50px;}
#ft .footer_info .cscenter dd.csnumber {font-size:28px;font-family:'ProximaNova-Semibold',sans-serif;color:#fff;margin:8px 0 12px;}
#ft .footer_info .cscenter dd.csmenu {color:#eaeaea;margin-top:15px;}
#ft .footer_info .cscenter dd.csmenu a {margin-right:10px;}


.showmore {position:relative;height:100px;width:100%;}
.showmore .more_button {width:48px;height:48px;position:absolute;top:29px;margin:0 auto;position:relative;z-index:99;cursor:pointer;}
.showmore .more_button img {width:20px;height:20px;position:absolute;left:50%;top:50%;margin:-10px 0 0 -10px;}
.showmore .more_button .plus {z-index:99;width:20px;height:20px;transition:all 0.2s cubic-bezier(0.190, 1.000, 0.220, 1.000);}
.showmore .more_button:hover {
  -webkit-animation: spinAround 0.5s;
  -moz-animation: spinAround 0.5s;
  animation: spinAround 0.5s;
}
.visible {opacity:1;visibility:visible;}
.hidden {opacity:0;visibility:hidden;}

@-webkit-keyframes spinAround {
  0% {
    -webkit-transform: rotate(0deg)
  }

  100% {
   -webkit-transform: rotate(180deg)
  }
}
@-moz-keyframes spinAround {
  0% {
    -webkit-transform: rotate(0deg)
  }

  100% {
   -webkit-transform: rotate(180deg)
  }
}
@keyframes spinAround {
  0% {
    -webkit-transform: rotate(0deg)
  }

  100% {
   -webkit-transform: rotate(180deg)
  }
}

/* 상품상세 */
#sit_dottegi {width:1219px;padding:0 10px;box-sizing:border-box;margin:0 auto;}
#sit_ov_wrap {background:#fff;box-shadow:1px 1px 1px rgba(0,0,0,0.05);border-radius:2px;}
#sit_ov_wrap .view_left {width:600px;float:left;}
#sit_ov_wrap .view_left img {display:block;}
#sit_ov_wrap .easyzoom {height:800px;}
#sit_ov_wrap .easyzoom img {border-radius:2px 2px 0 0;}
#sit_ov_wrap .thumbnails {margin-top:2px;}
#sit_ov_wrap .thumbnails li {float:left;margin-left:2px;}
#sit_ov_wrap .thumbnails li:first-child {margin:0;}
#sit_ov_wrap .thumbnails li img {width:148px;height:197px;}
#sit_ov_wrap .thumbnails li:first-child img {width:150px;border-radius:0 0 0 2px;}

.easyzoom {
  position: relative;
  *display: inline;
  *zoom: 1;
}

.easyzoom.is-loading img {
  cursor: progress;
}

.easyzoom.is-ready img {
  cursor: crosshair;
}

.easyzoom.is-error  img {
  cursor: not-allowed;
}

.easyzoom-notice {
  display:none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 10em;
  margin: -1em 0 0 -5em;
  line-height: 2em;
  text-align: center;
  background: #FFF;
  box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
  position:absolute;
  z-index: 100;
  overflow: hidden;
  background: #FFF;
}

/**
 * EasyZoom layout variations
 */
.easyzoom--overlay .easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
  top: 0;
  left: 100%;
  width: 597px;
  height: 100%;
  margin-left: 2px;
}

#sit_ov_wrap .view_right {width:599px;float:left;padding:0 30px;box-sizing:border-box;}
#sit_ov_wrap .view_right .product_binfo {text-align:left;margin-top:40px;}
#sit_ov_wrap .view_right .product_binfo .brand {font-family:'ProximaNovaCond-Bold',sans-serif;text-transform:uppercase;font-size:16px;letter-spacing:0.2em;margin-bottom:4px;}
#sit_ov_wrap .view_right .product_binfo .name {font-size:18px;margin-bottom:25px;}
#sit_ov_wrap .view_right .product_binfo .name span.size {display:inline-block;padding-left:25px;position:relative;}
#sit_ov_wrap .view_right .product_binfo .name span.size:before {content:'';width:1px;height:18px;background:#ddd;position:absolute;left:12px;top:5px;}
#sit_ov_wrap .view_right .product_binfo .cost {font-size:25px;font-weight:700;margin-bottom:10px;}
#sit_ov_wrap .view_right .product_binfo .retail_cost {font-size:13px;color:#666;letter-spacing:0.02em;margin-bottom:35px}
#sit_ov_btn {}
#sit_btn_cart,
#sit_btn_buy {font-size:14px;color:#fff;width:140px;height:61px;background:#222;cursor:pointer;border:0;padding:0;display:inline-block;}
#sit_btn_cart {background:#666;}
#sit_ov_wrap .view_right .product_dinfo_wrap {clear:both;border-top:3px solid #222;margin-top:50px;}
#sit_ov_wrap .view_right .product_dinfo {font-size:13px;margin:20px 8px 25px;line-height:26px;}
#sit_ov_wrap .view_right .product_dinfo b {margin-right:6px;}
#sit_ov_wrap .view_right .product_dinfo li {padding-left:8px;position:relative;}
#sit_ov_wrap .view_right .product_dinfo li:before {content:'';background:#999;width:3px;height:3px;position:absolute;left:0;top:11px;}
#sit_ov_wrap .view_right .product_dinfo li a {color:#666;text-decoration:underline;}
#sit_ov_wrap .view_right .product_info_list {font-size:13px;}
#sit_ov_wrap .view_right .product_info_list h2:first-child {border-top:1px solid #ccc;}
#sit_ov_wrap .view_right .product_info_list h2 {cursor:pointer;padding:22px 20px 14px 11px;border-bottom:1px solid #ccc;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;position:relative;}
#sit_ov_wrap .view_right .product_info_list h2:before {content:'';position:absolute;right:20px;top:26px;font-size:20px;color:#666;background:url('../img/ico_accord_plus.png')0 0 no-repeat;width:9px;height:9px;transition:transform 0.2s;}
#sit_ov_wrap .view_right .product_info_list h2.active:before {transform:rotate(135deg);}
#sit_ov_wrap .view_right .product_info_list h2+* {display:none;}
#sit_ov_wrap .view_right .product_info_list .body {line-height:22px;padding:10px 10px 20px 11px;display:none;}

.rec_product, .related_product {margin-top:30px;}
.rec_product > h2, .related_product > h2 {font-weight:700;}
.related_product {margin-bottom:60px;}