.loader {
  cursor:pointer;
  position: relative;
  margin: 0px auto;
  top:-40px;
  width: 100px;
  height: 100px;
  zoom: 0.48;
  background:#fff;
  border-radius:100px;
  box-shadow:0 3px 8px 0 rgba(0,0,0,.05),0 6px 13px 0 rgba(0,0,0,.10);
}

.circular {
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
  height: 100px;
  position: relative;
  width: 100px;
}

.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  100%, 0% {
    stroke: #ff2847;
  }
  40% {
    stroke: #ff2847;
  }
  66% {
    stroke: #ff2847;
  }
  80%, 90% {
    stroke: #ff2847;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #ff2847;
  }
  40% {
    stroke: #ff2847;
  }
  66% {
    stroke: #ff2847;
  }
  80%, 90% {
    stroke: #ff2847;
  }
}