<!-- 하단 시작 { -->
</div>
<div id="ft">
  <div class="footer_menu">
    <div class="footer_menu_inner clearfix">
      <nav class="menu">
        <ul>
          <li><a href="#">도떼기마켓</a></li>
          <li><a href="#">공지사항</a></li>
          <li><a href="#">이벤트</a></li>
          <li><a href="#">이용약관</a></li>
          <li><a href="#">개인정보취급방침</a></li>
        </ul>
      </nav>
      <nav class="sns">
        <ul>
          <a href="https://instagram.com/dottegimarket" target="_blank"><li class="instagram">인스타그램</li></a>
          <a href="https://www.facebook.com/dottegimarket" target="_blank"><li class="facebook">페이스북</li></a>
          <a href="http://blog.naver.com/afterdottegi" target="_blank"><li class="naverblog">네이버블로그</li></a>
        </ul>
      </nav>
    </div>
  </div>
  <div class="footer_info">
    <div class="unionpool">
      <dl>
        <dt>(주)유니온풀</dt>
        <dd>서울특별시 강남구 논현로 68길 6 신화빌딩 4F<br>
        사업자 등록번호 : 211-88-88211  /  통신판매번호 : 2013-서울강남-02052<br>
        대표자: 성시호  / 개인정보취급책입자: 정성학 <a href="http://www.ftc.go.kr/info/bizinfo/communicationView.jsp?apv_perm_no=2013322016230202052&area1=&area2=&currpage=1&searchKey=03&searchVal=%BC%BA%BD%C3%C8%A3&stdate=&enddate=" target="_blank">사업자정보확인</a></dd>
      </dl>
      <span class="copyrights">&copy; 2015 Union Pool Inc.</span>
    </div>
    <div class="usafe">
      <dl>
        <dt>소비자피해보상보험 Usafe</dt>
        <dd>고객님은 안전거래를 위해 현금 등으로 결제시 저희 쇼핑몰에서 가입한<br>
        구매 안전서비스 (소비자피해 보상보험서비스)를 이용하실 수 있습니다.<br>
        <a href="#" target="_blank">서비스가입확인</a></dd>
      </dl>
    </div>
    <div class="cscenter">
      <dl>
        <dt>고객센터</dt>
        <dd class="csnumber">1899-1623<br>
        <dd class="breaktime">평일 10:00 ~ 19:00 / 점심시간 13:00~14:00<br>주말 및 공휴일은 휴무입니다.</dd>
        <dd class="csmenu"><a href="#" target="_blank">자주묻는질문</a><a href="mailto:hello@dottegi.com">hello@dottegi.com</a></dd>
      </dl>
    </div>
  </div>
</div>

<script src="http://store.fx.unionpool.com/js/sns.js"></script>
<script>
// 상품보관
function item_wish(f, it_id)
{
  f.url.value = "http://store.fx.unionpool.com/shop/wishupdate.php?it_id="+it_id;
  f.action = "http://store.fx.unionpool.com/shop/wishupdate.php";
  f.submit();
}
</script>
<!-- } 하단 끝 -->

<script src="http://store.fx.unionpool.com/js/jquery.scrollUp.min.js"></script>
<script>
$(function() {
  $.scrollUp({
        scrollName: 'scrollUp', // Element ID
        topDistance: '300', // Distance from top before showing element (px)
        topSpeed: 300, // Speed back to top (ms)
        animation: 'slide', // Fade, slide, none
        animationInSpeed: 200, // Animation in speed (ms)
        animationOutSpeed: 200, // Animation out speed (ms)
        scrollText: 'Scroll to top', // Text for element
        activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        scrollImg: {
          active: true,
          type: 'background',
          src: 'http://store.fx.unionpool.com/css/images/top.png'
        }
      });
});
</script>


<!-- ie6,7에서 사이드뷰가 게시판 목록에서 아래 사이드뷰에 가려지는 현상 수정 -->
<!--[if lte IE 7]>
<script>
$(function() {
    var $sv_use = $(".sv_use");
    var count = $sv_use.length;

    $sv_use.each(function() {
        $(this).css("z-index", count);
        $(this).css("position", "relative");
        count = count - 1;
    });
});
</script>
<![endif]-->


</body>
</html>
